/* Whatsapp float icon  */
.whatsapp-icon a {
    position: fixed !important;
    width: 50px !important;
    height: 50px !important;
    bottom: 17% !important;
    right: 2.9% !important;
    background-color: #25d366 !important;
    color: #FFF !important;
    border-radius: 50px !important;
    text-align: center !important;
    font-size: 32px !important;
    box-shadow: 2px 2px 3px #999 !important;
    z-index: 10001 !important;
}
.my-float{
    margin-top: 8px;
}
.active>.page-link, .page-link.active {
  background-color: #EA4723!important;
  border-color: #EA4723!important;
}
.disabled>.page-link, .page-link.disabled {
    background-color: rgba(var(--digihub-base-rgb, 234, 71, 35), 0.1);
}
.page-item .page-link {
    color:#000;
}
 .active .page-link{
    color:#fff!important;
}
.blog-one .blog-page__blog-title {
    min-height: 125px;
}
.mfp-image-holder .mfp-content {
    top: 0% !important;
}
.mfp-title {
    text-align: center;
}
.footer-one__newsletter-input ,
.subscribe-one__input {
    color: var(--digihub-white, #FFFFFF) !important;
}
.mc-form__response {
    background-color: var(--digihub-white, #FFFFFF) !important;
    text-align: center !important;
    max-width: 800px !important;
    margin: auto !important;
    border-radius: 6px !important;
}
.mc-form__response.successed p {
    color: green !important;
}
.mc-form__response.errored p {
    color: red !important;
}