

<title>Dt7solutions | About</title>
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}
   
   
      
       
        <!-- Page Header Start -->
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title">About Us</h2>
                    <ul class="digihub-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>/</li>
                        <li><span>About Us</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->
        <!-- About Three Start -->
        <section class="about-three about-three--one">
            <div class="container">
                <div class="about-three__row row">
                    <div class="col-lg-6">
                       
                        <div class="about-three__content sec-title">
                            <p class="sec-title__top wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">Know
                                About Us</p>
                            <h2 class="about-three__heading sec-title__heading wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">Unlocking the power of digital imagination</h2>
                            <p class="about-three__desc wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                Creativity, Passion, Innovation, Reliability, and Trust lies at the heart of our ethos. With a relentless focus on customer satisfaction and accountability, we're committed to exceeding expectations. Through our dedication, we unlock transformative services and results, ensuring our customers are consistently delighted with their experience."</p>
                            
                        </div><!-- /.about-three__content -->
                       
                    </div>
                    <div class="col-lg-6 wow animated fadeInRight" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="about-three__img-box">
                            <div class="about-three__img-box-inner">
                                <div class="digihub-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 4, "speed": 700, "scale": 1 }'>
                                    <img src="{% static 'assets/images/about/about.jpg' %}" alt="about image" class="about-three__img">
                                </div>
                                
                                
                            </div><!-- /.about-three__img-box-inner -->
                          
                        </div><!-- /.about-three__img-box -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-three -->
        
        <!-- About Three End -->
        
        <section class="about-one image-highlight">
            <div class="container">
                <div class="about-one__row row">
                    <div class="about-one__col-img col-xl-6 col-lg-9  order-lg-1 order-1 wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="about-one__content sec-title">
                            <div class="about-one__content-top wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <p class="sec-title__top">UNVEILING OUR PROCESS</p>
                                <h2 class="about-one__heading sec-title__heading text-light">Discovering Success: Inside Our 6D Magic</h2>
                                <p class="about-one__desc text-light">Journey Through Our Transformative 6D Method and Discover the Path to Sucess Together </p>
                            </div><!-- /.about-one__content-top -->
                          
                        </div><!-- /.about-one__content -->
                    </div>
                    <div class="about-one__col-content col-xl-6 col-lg-9 order-lg-2 order-2">
                        <div class="about-one__content sec-title">
                          
                            <div class="about-one__inner container-fluid">
                                <div class="row">
                                    <div class="col-xl-12 wow animated fadeInRight" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <!-- <div class="about-one__inner-icon-box">
                                                <span class="about-one__inner-icon icon-discover" ></span>
                                            </div> -->
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/portfolio/one-shape.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Discover</h4>
                                                <p class="about-one__inner-desc">Uncover valuable insights and opportunities to understand your market and audience deeply</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/define.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Define</h4>
                                                <p class="about-one__inner-desc">Clearly outline your goals, objectives, and strategies to pave the way for success.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/desgin.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Desgin</h4>
                                                <p class="about-one__inner-desc">Craft visually stunning and intuitive experiences that captivate and engage your audience.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/develop.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Develop</h4>
                                                <p class="about-one__inner-desc">Bring your vision to life with expert development tailored to your unique needs and specifications.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/deploy.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Deploy</h4>
                                                <p class="about-one__inner-desc">Seamlessly launch your marketing campaigns and initiatives with precision and efficiency.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/deliver.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Deliver</h4>
                                                <p class="about-one__inner-desc">Consistently exceed expectations and deliver exceptional results to propel your brand forward.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.about-one__inner -->
                        </div><!-- /.about-one__content -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-one -->
<!-- About One End -->
          <!-- Service One Start -->
          <section class="service-two ">
            <div class="container">
                <div class="service-two__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">Why Choose us</p>
                    <h2 class="service-two__heading sec-title__heading">Transforming Ideas Into Digital Masterpieces</h2>
                </div><!-- /.service-two__sec-title -->
                <div class="row">
                    <div class="col-xl-4 col-lg-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="service-two__single">
                            <div class="service-two__icon-box service-two__icon-box--one">
                                <span class="service-two__icon service-two__icon--one icon-marketing-2"></span>
                                <h3 class="service-two__number service-two__number--one">01</h3>
                            </div><!-- /.service-two__icon-box -->
                            <div class="service-two__content service-two__content--one">
                                <h3 class="service-two__title">Innovative Solutions</h3>
                                <p class="service-two__desc">We don't just follow trends; we set them. Stay ahead in the dynamic world of marketing with our cutting-edge solutions.</p>
                            </div><!-- /.service-two__content -->
                        </div><!-- /.service-two__single -->
                    </div>
                    <div class="col-xl-4 col-lg-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <div class="service-two__single">
                            <div class="service-two__icon-box service-two__icon-box--two">
                                <span class="service-two__icon service-two__icon--two icon-chat-message"></span>
                                <h3 class="service-two__number service-two__number--two">02</h3>
                            </div><!-- /.service-two__icon-box -->
                            <div class="service-two__content service-two__content--two">
                                <h3 class="service-two__title">Client-centric approach</h3>
                                <p class="service-two__desc">Your success is our success. We prioritize understanding your unique needs to deliver tailored strategies that drive results.</p>
                            </div><!-- /.service-two__content -->
                        </div><!-- /.service-two__single -->
                    </div>
                    <div class="col-xl-4 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                        <div class="service-two__single">
                            <div class="service-two__icon-box service-two__icon-box--three">
                                <span class="service-two__icon service-two__icon--three icon-connection"></span>
                                <h3 class="service-two__number service-two__number--three">03</h3>
                            </div><!-- /.service-two__icon-box -->
                            <div class="service-two__content service-two__content--three">
                                <h3 class="service-two__title">Proven track record</h3>
                                <p class="service-two__desc">With a wealth of experience and a portfolio of success stories, trust us to take your brand to new heights.</p>
                            </div><!-- /.service-two__content -->
                        </div><!-- /.service-two__single -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-one -->
        <!-- Service One End -->
        <!-- Subscribe One Start -->
        <section class="subscribe-one">
            <h2 class="subscribe-one__inner-heading">DT7.AGENCY</h2>
            <div class="container">
                <div class="subscribe-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <h2 class="subscribe-one__heading sec-title__heading">subscribe to stay connected</h2>
                </div><!-- /.subscribe-one__sec-title -->
                <form action="#" data-url="MAILCHIMP_FORM_URL" class="subscribe-one__form mc-form">
                    <input type="email" name="EMAIL" id="subscribe-one-input" placeholder="Email Address Here" class="subscribe-one__input">
                    <button type="submit" class="subscribe-one__btn"><i class="fas fa-paper-plane"></i></button>
                </form><!-- /.subscribe-one__form -->
                <div class="mc-form__response"></div><!-- /.mc-form__response -->
                <div class="counter-one container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-one">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="50" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title">Happy <br>Cilents</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-two">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="2" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title"><br> Awards</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-three">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="24" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">k</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title">Working<br> projects</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-four">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="10" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title">Years of  <br>Experience</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.container -->
        </section><!-- /.subscribe-one -->
        <!-- Subscribe One End -->
      
        <!-- <section class="team-page">

            <div class="container">
                <div class="team-two__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">our team member</p>
                    <h2 class="team-two__heading sec-title__heading">Designing the future pixel by pixel</h2>
                </div>
                <div class="team-page__carousel digihub-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 4,
            "margin": 30,
            "smartSpeed":1500,
            "loop":true,
            "autoplay":6000,
            "nav":false,
            "dots":true,
            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1
                },
                "768":{
                    "items": 2
                },
                "992":{
                    "items": 3
                },
                "1400":{
                    "items": 4
                }
            }
            }'>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-1.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Alma R. Valdivia</h4>
                                    <p class="team-single__title">Ui\Ux Designer</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-2.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Mindi E. Smithers</h4>
                                    <p class="team-single__title">Web Developer</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-3.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Cherie S. Cullen</h4>
                                    <p class="team-single__title">SEO Expert</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-4.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Thomas D. Burnett</h4>
                                    <p class="team-single__title">Graphics Designer</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-5.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Patrick E. Nisbett</h4>
                                    <p class="team-single__title">Ui\Ux Designer</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-6.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Julia T. Schlosser</h4>
                                    <p class="team-single__title">Web Developer</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-7.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Dorothy J. Neer</h4>
                                    <p class="team-single__title">SEO Expert</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-page__carousel-item item">
                        <div class="team-single">
                            <div class="team-single__img-box">
                                <img src="{% static 'assets/images/team/team-3-8.jpg' %}" alt="team" class="team-single__img">
                            </div>
                            <div class="team-single__overlay">
                                <div class="team-single__info">
                                    <h4 class="team-single__name">Lori L. Bittinger</h4>
                                    <p class="team-single__title">Graphics Designer</p>
                                    <ul class="team-single__social">
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="team-single__social-item">
                                            <a href="#" class="team-single__social-link"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
      
          <!-- Clients Logo One Start -->
          <section class="clients-logo-one clients-logo-one--one ">
            <div class="clients-logo-one__container container">
                <div class="clients-logo-one__carousel digihub-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 5,
            "margin": 95,
            "smartSpeed": 700,
            "loop": true,
            "autoplay": 6000,
            "nav": false,
            "dots": true,
            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "margin": 0
                },
                "360":{
                    "items": 2,
                    "margin": 50
                },
                "576":{
                    "items": 3,
                    "margin": 50
                },
                "768":{
                    "items": 3,
                    "margin": 60
                },
                "992":{
                    "items": 4,
                    "margin": 60
                },
                "1200":{
                    "items": 6,
                    "margin": 70
                },
                "1400":{
                    "items": 5,
                    "loop": false,
                    "dots": false,
                    "margin": 95
                }
            }
            }'>

            <div class="clients-logo-one__item item">
                <img src="{% static 'assets/images/clients-logo/kallos.png' %}" alt="clients-logo" class="clients-logo-one__logo">
            </div><!-- /.owl-slide-item -->
            <div class="clients-logo-one__item item">
                <img src="{% static 'assets/images/clients-logo/subhujo.png' %}" alt="clients-logo" class="clients-logo-one__logo">
            </div><!-- /.owl-slide-item -->
          
            
                 
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/lakemesalon.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/tenalidoublehorse.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/tdh-rishika.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/telugu-foods.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/durga-ghee.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                   
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/vsb.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/alantiruchulu.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/magsmen.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                       
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/sikhara.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/tandava-krishna.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/cherrys.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                    <div class="clients-logo-one__item item">
                        <img src="{% static 'assets/images/clients-logo/11.png' %}" alt="clients-logo" class="clients-logo-one__logo">
                    </div><!-- /.owl-slide-item -->
                </div><!-- /.clients-logo-one__carousel -->
            </div><!-- /.clients-logo-one__container -->
        </section><!-- /.clients-logo -->
        <!-- Clients Logo One End -->
      
<!-- technologies start -->


 
  <section class="portfolio-two pt-5">
    <div class="container">
        <div class="portfolio-two__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
            <p class="sec-title__top">Our Tech Stack </p>
            <h2 class="portfolio-two__heading sec-title__heading">In Action</h2>
        </div><!-- /.portfolio-two__sec-title -->
        <div class="row">
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-one.jpg">
                        <img src="{% static 'assets/images/portfolio/1.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-two.jpg">
                        <img src="{% static 'assets/images/portfolio/viscode.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/3.png' %}" alt="portfolio" class="portfolio-two__img">
                     
                        
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-one.jpg">
                        <img src="{% static 'assets/images/portfolio/4.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-two.jpg">
                        <img src="{% static 'assets/images/portfolio/5.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/6.png' %}" alt="portfolio" class="portfolio-two__img">
                        
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/7.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/8.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/9.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/10.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/11.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/12.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/13.png' %}" alt="portfolio" class="portfolio-two__img">
                      
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
            <div class="col-xl-2 col-md-2 col-12 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
                <div class="portfolio-two__item">
                    <div class="portfolio-two__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-three.jpg">
                        <img src="{% static 'assets/images/portfolio/14.png' %}" alt="portfolio" class="portfolio-two__img">
                       
                       
                    </div><!-- /.portfolio-two__img-box -->
                </div><!-- /.portfolio-two__item -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.portfolio-two -->

<!-- Technologies End  -->
        {% endblock %}  