

{% extends 'uifiles/blogbase.html' %}
{% load static %}

{% block title %}{{ meta_title }}{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ meta_description }}">
{% endblock %}

{% block meta_tags %}
<meta name="keywords" content="{{ meta_tags }}">
{% endblock %}

{% block canonical_url %}
<link rel="canonical" href="https://dt7.agency/blog/{{ canonical_url }}">
{% endblock %}

{% block content %}

        <!-- Page Header Start -->
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Blog Details</h2>
                    <ul class="digihub-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li><span>Blog Details</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5 " style="text-align:center;" id="exampleModalLabel"> Enquiry Form</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form action="#" id="popresetting" method="POST" class=" container-fluid"  >
                        {% csrf_token %}
                        <div class="row   mb-3">
                          <div class="col-md-6 ">
                           
                            <input type="text" class=" comment-form__form-input " required  id="exampleInputName"  required name="exampleInputName" placeholder="Your Name" aria-describedby="nameHelp">
                          </div>
                          <div class="col-md-6">
                           
                            <input type="tel" class=" comment-form__form-input" required id="exampleInputPhone"   required name="exampleInputPhone" placeholder="Phone number" >
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                          
                            <input type="email" class=" comment-form__form-input" required id="exampleInputEmail"  required   name="exampleInputEmail"  placeholder="Email" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text"></div>
                          </div>
                         
                        </div>
                        <div class="col-md-12 mb-3">
                       
                            <div class="col-md-12 mb-2 wow animated fadeInUp " data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <label>Services Interested In:</label><br>
                                <div class="d-flex">
                                <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="form-group">
                                 
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="digitalMarketingone" name="servicesInterestedIn" value="Digital Marketing">
                                    <label class="form-check-label" for="digitalMarketingone">Digital Marketing</label>
                                  </div>
                               
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="whatsappMarketingone" name="servicesInterestedIn" value="whatsappMarketing">
                                    <label class="form-check-label" for="whatsappMarketingone">WhatsApp Marketing</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="logoBrandingone" name="servicesInterestedIn" value="logoBranding">
                                    <label class="form-check-label" for="logoBrandingone">Logo Branding</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="emailMarketingone" name="servicesInterestedIn" value="emailMarketing">
                                    <label class="form-check-label" for="emailMarketingone">Email Marketing</label>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="form-group">
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="webDesigningone" name="servicesInterestedIn" value="webDesigning">
                                    <label class="form-check-label" for="webDesigningone">Web Designing (UI/UX)</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="thirdPartyListingone" name="servicesInterestedIn" value="thirdPartyListing">
                                    <label class="form-check-label" for="thirdPartyListingone">3rd Party Listing</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="onlinePaidMarketingone" name="servicesInterestedIn" value="onlinePaidMarketing">
                                    <label class="form-check-label" for="onlinePaidMarketingone">Online Paid Marketing</label>
                                  </div>
                                  
                                </div>
                            </div>
                            </div>
                        </div>
                          </div>
                        <div class="mb-3">
               
                          <textarea class="comment-form__form-input popup-messsge" required  id="exampleInputMessageinfo" name="exampleInputMessageinfo" placeholder="Enter your messege" rows="3"></textarea>
                        </div>
                        <button type="submit"  id="popupBtn" class="comment-form__form-btn btn btn-sm digihub-btn digihub-btn--secondary">Submit</button>
                      </form>
                </div>
               
              </div>
            </div>
          </div>
        <!-- Blog Details Page Start -->
        <section class="blog-details-page">
            <div class="container">
                <div class="row">
                    {% if selectpost %}
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details-page__content">
                            <div class="blog-details-page__post wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="blog-details-page__post-img-box">
                                    <img src="/media/{{selectpost.Image1}}" alt="assets/images/blog/blog-details-1.jpg" class="blog-details-page__post-img">
                                    <p class="blog-details-page__post-date">{{selectpost.Create_at}}</p>
                                </div><!-- /.blog-details-page__post-img-box -->
                                <div class="blog-details-page__post-content">
                                    <h1 class="blog-details-page__post-title">{{selectpost.Title}}</h1>
                                    <p class="blog-details-page__post-desc"> {{selectpost.Body|safe}}</p>
                                    
                                </div><!-- /.blog-details-page__post-content -->
                            </div><!-- /.blog-details-page__post -->
                           
                            {% if faqs %}
                            <div class="accordion mb-5" id="accordionExample">
                                {% for faq in faqs %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                        <button class="accordion-button bg-faq {% if not forloop.first %}collapsed{% endif %}"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapse{{ forloop.counter }}"
                                                aria-expanded="{{ forloop.first|yesno:'true,false' }}"
                                                aria-controls="collapse{{ forloop.counter }}">
                                            {{ faq.question }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{ forloop.counter }}"
                                        class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                        aria-labelledby="heading{{ forloop.counter }}"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {{ faq.answer }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                          
                            <div class="blog-details-page__social-box">
                                <h3 class="blog-details-page__social-title">Follow Us on</h3>
                                <ul class="blog-details-page__social">
                                    <li class="blog-details-page__social-item">
                                        <a href="https://www.facebook.com/dt7agency/" target="_blank" class="blog-details-page__social-link" >
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="blog-details-page__social-item">
                                        <a href="https://www.instagram.com/dt7.agency/" target="_blank" class="blog-details-page__social-link">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="blog-details-page__social-item">
                                        <a href="https://www.linkedin.com/company/dt7agency/" target="_blank" class="blog-details-page__social-link blog-details-page__social-link--fb">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="blog-details-page__social-item">
                                        <a href="https://x.com/Dt7agency" target="_blank" class="blog-details-page__social-link blog-details-page__social-link--x">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" style="width: 20px; height: 20px; " ><path fill="none" d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z"/></svg>
                                        </a>
                                    </li>
                                   
                                </ul><!-- /.blog-details-page__social -->
                            </div><!-- /.blog-details-page__social-box -->
                            <div class="blog-details-page__pagination">
                                {% if previous_post %}
                                <div class="blog-details-page__prev-box">
                                    <a href="{% url 'blog' slug=previous_post.Sluglink %}" class="blog-details-page__prev-icon">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                   
                                    <div class="blog-details-page__prev-content">
                                        <h3 class="blog-details-page__prev-title">Previous post</h3>
                                        <p class="blog-details-page__prev-text"> {{ previous_post.Title }}</p>
                                    </div>
                                  
                                </div><!-- /.blog-details-page__prev-box -->
                                {% endif %}
                                {% if next_post %}
                                <div class="blog-details-page__next-box">
                                    <div class="blog-details-page__next-content">
                                        <h3 class="blog-details-page__next-title">Next post</h3>
                                        <p class="blog-details-page__next-text"> {{ next_post.Title }}</p>
                                    </div>
                                    <a href="{% url 'blog' slug=next_post.Sluglink %}" class="blog-details-page__next-icon">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div><!-- /.blog-details-page__next-box -->
                                {% endif %}
                            </div><!-- /.blog-details-page__pagination -->
                              
         
                         
                        </div><!-- /.blog-details-page__content -->
                    </div>
                    {% endif %}
                    <div class="col-xl-4 col-lg-5">
                        <div class="page-sidebar">
                            
                            <div class="page-sidebar__category page-sidebar__single wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <h3 class="page-sidebar__category-title page-sidebar__title">Category</h3>
                                <ul class="page-sidebar__category-list">
                                    {% for category in totalcategories %}
                                    
                                    <li class="page-sidebar__category-item">
                                        <a href="#" class="page-sidebar__category-link"><span>{{ category.Name }}</span> <span>{{ post_count }}</span></a>
                                    </li>
                                  
                                    {% endfor %}
                                    
                                </ul><!-- /.page-sidebar__category-list -->
                            </div><!-- /.page-sidebar__category -->
                           
                            <div class="page-sidebar__line page-sidebar__single"></div><!-- /.page-sidebar__line -->
                            <div class="page-sidebar__post page-sidebar__single wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <h3 class="page-sidebar__post-title page-sidebar__title">Recent post</h3>
                                {% for blogitem in blog_list %} 
                              
                                <div class="page-sidebar__post-box">
                                    <a href="/blog/{{blogitem.Sluglink}}" class="page-sidebar__post-img-box">
                                        <img src="/media/{{blogitem.Image1}}" alt="post" class="page-sidebar__post-img">
                                        <span class="page-sidebar__post-plus icon-plus"></span>
                                    </a><!-- /.page-sidebar__post-img-box -->
                                    <div class="page-sidebar__post-content">
                                        <p class="page-sidebar__post-date"><span>{{blogitem.Category}}</span> <span>{{blogitem.Create_at}}</span></p>
                                        <a href="/blog/{{blogitem.Sluglink}}" class="page-sidebar__post-title-link">{{blogitem.Title}}</a>
                                    </div><!-- /.page-sidebar__post-content -->
                                </div><!-- /.page-sidebar__post-box -->
                              
                                {% endfor %}
                            </div><!-- /.page-sidebar__post -->
                            <div class="page-sidebar__line page-sidebar__single"></div><!-- /.page-sidebar__line -->
                            <div class="page-sidebar__offer page-sidebar__single wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <h3 class="page-sidebar__offer-title">Reach Us</h3>
                                <p class="page-sidebar__offer-desc">Are you looking to take your online presence to the next level? Look no further than Dt7.Agency.</p>
                                <a href="/contact/" class="page-sidebar__offer-btn digihub-btn digihub-btn--primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">Get In Touch <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.page-sidebar__offer -->
                           
                           
                            <div class="page-sidebar__line page-sidebar__single"></div><!-- /.page-sidebar__line -->
                            <div class="page-sidebar__tag page-sidebar__single wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <h3 class="page-sidebar__tag-title page-sidebar__title">Tags</h3>
                                <div class="page-sidebar__tag-box">
                                    <a href="#" class="page-sidebar__tag-btn">{{selectpost.Tags}}</a>
                                  
                                </div><!-- /.page-sidebar__tag-box -->
                            </div><!-- /.page-sidebar__tag -->
                        </div><!-- /.page-sidebar -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-details-page -->
        <!-- Blog Details Page End -->
      
   
{% endblock %} 