{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}


   
    <!-- /.preloader -->
    <div class="page-wrapper">
        
        
        <!-- Page Header Start -->
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Blog Classic</h2>
                    <ul class="digihub-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>/</li>
                        <li><span>Blogs</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->

       

         <!-- Blog One Start -->
         <section class="blog-one pt-5">
            <div class="container">
                <div class="blog-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">OUR LATEST BLOGS</p>
                    <h2 class="blog-one__heading sec-title__heading">Discover Our Latest Posts</h2>
                </div><!-- /.blog-one__sec-title -->
                <div class="row">
                    {% for blogitem in blog %} 
                    <div class="col-xl-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="blog-page__blog">
                            <div class="blog-page__blog-img-box">
                                <img src="/media/{{blogitem.Image1}}" alt="blog" class="blog-page__blog-img">
                                <span class="blog-page__plus icon-plus"></span>
                            </div>
                            <div class="blog-page__blog-content">
                                <ul class="blog-page__blog-info">
                                    <li>
                                        <i class="far fa-user"></i>
                                        <span>{{blogitem.CreatedName}}</span>
                                    </li>
                                    <li>
                                        <i class="far fa-calendar-alt"></i>
                                        <span>{{blogitem.Create_at}}</span>
                                    </li>
                                    
                                </ul>
                                <a href="/blog/{{blogitem.Sluglink}}" class="blog-page__blog-title">{{blogitem.Title}} </a>
                                <p class="blog-page__blog-desc">Aliquam eros justo, posuere loborti viverra lao ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis non, viverra </p>
                                <a href="/blog/{{blogitem.Sluglink}}" class="blog-page__blog-btn digihub-btn digihub-btn--secondary">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                    
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one -->
        <!-- Blog One End -->
       
     

  
    

   

{% endblock %}