{% extends 'uifiles/subase.html' %}
{% load static %}

{% block meta %}
<title>Custom Web Development Agency in Guntur & Hyderabad | Dt7 </title>
<meta name="description" content="Explore Dt7, the top custom web development agency in Guntur & Hyderabad. Get tailored solutions that elevate your online presence.">
<meta name="keywords" content="Custom Web Development Agency,Custom Web Development Agency in guntur, Custom Web Development Agency in hyderabad">
<link rel="canonical" href="https://dt7.agency/blog/">
{% endblock %}

{% block content %}

    <!-- /.preloader -->
    <div class="page-wrapper">
        
        
        <!-- Page Header Start -->
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h1 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Blogs</h1>
                    <ul class="digihub-breadcrumb">
                      <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li><span>Blogs</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section>
        <!-- Page Header End -->

        <!-- Blog One Start -->
        <section class="blog-one pt-5"> 
          <div class="container">
            <div class="blog-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
              <p class="sec-title__top">Discover Our Latest Posts</p>
              <h2 class="blog-one__heading sec-title__heading">Expert Strategies for Online Success</h2>
            </div>
            <div class="row">
              {% for blogitem in blog %}
              <div class="col-xl-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="blog-page__blog">
                  <div class="blog-page__blog-img-box">
                    <a href="/blog/{{ blogitem.Sluglink }}" title="Read more about {{ blogitem.Title }}">
                      <img src="/media/{{ blogitem.Image1 }}" alt="{{ blogitem.Title }} - Blog Image" class="blog-page__blog-img" loading="lazy">
                    </a>
                    <span class="blog-page__plus icon-plus" title="Expand {{ blogitem.Title }}"></span>
                  </div>
                  <div class="blog-page__blog-content">
                    <ul class="blog-page__blog-info">
                      <li><i class="far fa-user"></i><span title="Author">{{ blogitem.CreatedName }}</span></li>
                      <li><i class="far fa-calendar-alt"></i><span title="Published on">{{ blogitem.Create_at }}</span></li>
                    </ul>
                    <a href="/blog/{{ blogitem.Sluglink }}" class="blog-page__blog-title mb-3" title="Read full article: {{ blogitem.Title }}">{{ blogitem.Title }}</a>
                    <a href="/blog/{{ blogitem.Sluglink }}" class="blog-page__blog-btn digihub-btn digihub-btn--secondary" title="Read More about {{ blogitem.Title }}">READ MORE <span></span><span></span><span></span><span></span></a>
                  </div>
                </div>
              </div>
              {% endfor %}        
            </div>
          </div>
        </section>
        <!-- Blog One End -->
       
        <!-- Pagination Start -->
        <div class="pagination-wrapper pt-5 pb-5 text-center" style="background-color: #f6f6f6;">
            <ul class="pagination justify-content-center" style="margin-bottom: 0rem;">

                {% if blog.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ blog.previous_page_number }}" aria-label="Previous Page" title="Go to Previous Page">
                        &laquo; Previous
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-disabled="true" title="No Previous Page">&laquo; Previous</span>
                </li>
                {% endif %}

                {% for num in blog.paginator.page_range %}
                {% if blog.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link" title="Current Page {{ num }}">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}" title="Go to Page {{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if blog.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ blog.next_page_number }}" aria-label="Next Page" title="Go to Next Page">
                        Next &raquo;
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-disabled="true" title="No Next Page">Next &raquo;</span>
                </li>
                {% endif %}

            </ul>
        </div>
        <!-- Pagination End -->



{% endblock %}
