

<title> Boost Your Brand: Guntur Brand Identity Solutions | Dt7 </title>
<meta name="description" content="Unlock Your Brand's Potential with Effective Brand Identity Solutions in Guntur! Elevate Your Business with Strategic Brand Development. Contact Us Today!">
<meta name="keywords" content="Effective Brand Identity Solutions in Guntur,Strategic Brand Identity Development">

{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}
   
<section class="page-header">
    <div class="container">
        <div class="page-header__content">
            <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Brand Identity</h2>
            <ul class="digihub-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>/</li>
                <li><span>Solutions</span></li>
                <li>/</li>
                <li><span>Brand Identity</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
      
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " style="text-align:center;" id="exampleModalLabel"> Enquiry Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form action="#" id="popreset" method="POST" class=" container-fluid"  >
                {% csrf_token %}
                <div class="row   mb-3">
                  <div class="col-md-6 ">
                   
                    <input type="text" class=" comment-form__form-input "  required id="exampleInputName"  required name="exampleInputName" placeholder="Your Name" aria-describedby="nameHelp">
                  </div>
                  <div class="col-md-6">
                   
                    <input type="tel" class=" comment-form__form-input" required id="exampleInputPhone"  required name="exampleInputPhone" placeholder="Phone number" >
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                  
                    <input type="email" class=" comment-form__form-input" required id="exampleInputEmail"  required  name="exampleInputEmail"  placeholder="Email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                  </div>
                 
                </div>
                <div class="col-md-12 mb-3">
                       
                    <div class="col-md-12 mb-2 wow animated fadeInUp " data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <label>Services Interested In:</label><br>
                        <div class="d-flex">
                        <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="form-group">
                         
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="digitalMarketingone" name="servicesInterestedIn" value="Digital Marketing">
                            <label class="form-check-label" for="digitalMarketingone">Digital Marketing</label>
                          </div>
                       
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="whatsappMarketingone" name="servicesInterestedIn" value="whatsappMarketing">
                            <label class="form-check-label" for="whatsappMarketingone">WhatsApp Marketing</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="logoBrandingone" name="servicesInterestedIn" value="logoBranding">
                            <label class="form-check-label" for="logoBrandingone">Logo Branding</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="emailMarketingone" name="servicesInterestedIn" value="emailMarketing">
                            <label class="form-check-label" for="emailMarketingone">Email Marketing</label>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="form-group">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="webDesigningone" name="servicesInterestedIn" value="webDesigning">
                            <label class="form-check-label" for="webDesigningone">Web Designing (UI/UX)</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="thirdPartyListingone" name="servicesInterestedIn" value="thirdPartyListing">
                            <label class="form-check-label" for="thirdPartyListingone">3rd Party Listing</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="onlinePaidMarketingone" name="servicesInterestedIn" value="onlinePaidMarketing">
                            <label class="form-check-label" for="onlinePaidMarketingone">Online Paid Marketing</label>
                          </div>
                          
                        </div>
                    </div>
                    </div>
                </div>
                  </div>
                <div class="mb-3">
       
                  <textarea class="comment-form__form-input popup-messsge"  required  id="exampleInputMessageinfo" name="exampleInputMessageinfo" placeholder="Enter your messege" rows="3"></textarea>
                </div>
                <button type="submit"  id="popupBtn" class="comment-form__form-btn btn btn-sm digihub-btn digihub-btn--secondary">Submit</button>
              </form>
        </div>
       
      </div>
    </div>
  </div>
   <!-- Projects Details Page Start -->
   <section class="projects-details-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects-details-page__inner-container container-fluid">
                    <div class="projects-details-page__bottom-info-box">
                        <div class="projects-details-page__bottom-info wow animated fadeInUp mb-5" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <h3 class="projects-details-page__bottom-info-title text-center mb-3">Brand Identity</h3>
                            <p class="projects-details-page__bottom-info-desc text-alignment">Unlock the true essence of your brand with our Brand Identity service at [DT7 AGENCY]. We believe that a strong brand identity is the cornerstone of success in the digital realm. It's more than just a logo; it's the cohesive story, the visual language, and the emotional connection that sets you apart. Our team of creative experts specializes in crafting unique brand identities that resonate with your target audience, leaving a lasting impression at every touchpoint. From logo design to brand guidelines, we ensure consistency and authenticity across all platforms, empowering your brand to stand out in a crowded digital landscape.</p>
                        </div><!-- /.projects-details-page__bottom-info -->
                       
                        
                    </div><!-- /.projects-details-page__bottom-info-box -->
                    <div class="row">
                        <div class="col-xl-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="projects-details-page__img-box">
                                <img src="{% static 'assets/images/portfolio/kallos.png' %}" alt="project-details" class="projects-details-page__img">
                            </div><!-- /.projects-details-page__img-box -->
                        </div>
                       
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- <div class="col-xl-12">
                <div class="projects-details-page__title-box">
                    <h3 class="projects-details-page__title">Empowering Your Business in the Digital Age</h3>
                    <p class="projects-details-page__desc">Aliquam eros justo, posuere loborti vive rra laoreet matti
                        ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra laoreet augue
                        mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet
                        mat ullamcorper posue viverra .Aliquam eros justo,Aliquam eros justo, posuere loborti vive rra
                        laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra
                        laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti
                        viverra laoreet mat ullamcorper posue viverra</p>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--one">
                        <!-- <span class="service-two__icon service-two__icon--one icon-marketing-2"></span> -->
                        <h3 class="service-two__number service-two__number--one">01</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--one">
                        <h3 class="service-two__title">Brand Strategy</h3>
                        <p class="service-two__desc">We delve deep into your brand's ethos, values, and audience to develop a comprehensive brand strategy that sets the foundation for a compelling identity.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--two">
                        <!-- <span class="service-two__icon service-two__icon--two icon-chat-message"></span> -->
                        <h3 class="service-two__number service-two__number--two">02</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--two">
                        <h3 class="service-two__title">Logo Design</h3>
                        <p class="service-two__desc">Our talented designers breathe life into your brand with captivating logo designs that encapsulate your essence and leave a memorable mark.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--four">
                        <!-- <span class="service-two__icon service-two__icon--three icon-connection"></span> -->
                        <h3 class="service-two__number service-two__number--four">03</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--four">
                        <h3 class="service-two__title">Visual Identity</h3>
                        <p class="service-two__desc">From colour palettes to typography, we meticulously craft a visual language that communicates your brand's personality and resonates with your audience.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--three">
                        <!-- <span class="service-two__icon service-two__icon--three icon-connection"></span> -->
                        <h3 class="service-two__number service-two__number--three">04</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--three">
                        <h3 class="service-two__title">Brand Guidelines</h3>
                        <p class="service-two__desc">We create clear and concise brand guidelines that serve as a roadmap for maintaining consistency across all brand touchpoints, ensuring your brand identity remains strong and cohesive.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
           
        
           
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.projects-details-page -->
<!-- Projects Details Page End -->

      
<section class="portfolio-three pt-5">
  <div class="container">
      <div class="portfolio-three__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
          <p class="sec-title__top">Brand Identity Expertise</p>
          <h2 class="portfolio-three__heading sec-title__heading">Crafting Memorable and Impactful Brands</h2>
      </div><!-- /.portfolio-tthree_sec-title -->
      <div class="row masonry-layout">
         
          <div class="masonry-layout__item col-lg-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
              <div class="portfolio-three__item">
                  <div class="portfolio-three__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-one.jpg">
                      <img src="{% static 'assets/images/about/mobilecarebrandidentity.jpg' %}" alt="portfolio" class="portfolio-three__img">
                      <img src="{% static 'assets/images/about/mobilecarebrandidentity.jpg' %}" alt="portfolio" class="portfolio-three__img">
                  </div><!-- /.portfolio-three__img-box -->
                  <div class="portfolio-three__text-box">
                      <a href="#" class="portfolio-three__btn"><i class="fas fa-arrow-right"></i></a>
                      <h4 class="portfolio-three__title"><a href="#">Mobile care</a></h4>
                  </div><!-- /.portfolio-three__text-box -->
              </div><!-- /.portfolio-three__item -->
          </div>
          <div class="masonry-layout__item col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
              <div class="portfolio-three__item ">
                  <div class="portfolio-three__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-one.jpg">
                      <img src="{% static 'assets/images/about/pharmadoctidentity.jpg' %}" alt="portfolio" class="portfolio-three__img">
                      <img src="{% static 'assets/images/about/pharmadoctidentity.jpg' %}" alt="portfolio" class="portfolio-three__img">
                  </div><!-- /.portfolio-three__img-box -->
                  <div class="portfolio-three__text-box">
                      <a href="https://pharmadoct.com/" target="_blank" class="portfolio-three__btn"><i class="fas fa-arrow-right"></i></a>
                      <h4 class="portfolio-three__title"><a href="https://pharmadoct.com/" target="_blank" >Pharma Doct </a></h4>
                  </div><!-- /.portfolio-three__text-box -->
              </div><!-- /.portfolio-three__item -->
          </div>
      </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.portfolio-two --> 

    
        
      
       
      



 
 
        {% endblock %}  