<title>Contact Us | Website Design, SEO Services & More</title>
<meta name="description" content="Grow your business with DT7.Agency! Expert SEO, web design, social media, & paid ads. Tailored strategies for traffic, conversions & branding. Contact us now!">
<meta name="keywords" content="Website Design,social media,paid ads">
<link rel="canonical" href="https://dt7.agency/contact/">
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}

        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Contact Us</h2>
                    <ul class="digihub-breadcrumb">
                      <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li><span>Contact Us</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 " style="text-align:center;" id="exampleModalLabel"> Enquiry Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body ">
                  <form id="popreset">
                      {% csrf_token %}
                      <div class="row   mb-3">
                        <div class="col-md-6 ">
                         
                          <input type="text" class=" comment-form__form-input " required id="exampleInputName"  name="exampleInputName" placeholder="Your Name" aria-describedby="nameHelp">
                        </div>
                        <div class="col-md-6">
                         
                          <input type="tel" class=" comment-form__form-input" required id="exampleInputPhone" name="exampleInputPhone" placeholder="Phone number" >
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-12">
                        
                          <input type="email" class=" comment-form__form-input" required id="exampleInputEmail"  name="exampleInputEmail"  placeholder="Email" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text"></div>
                        </div>
                        
                      </div>
                      <div class="col-md-12 mb-3">
                       
                        <div class="col-md-12 mb-2 wow animated fadeInUp " data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <label>Services Interested In:</label><br>
                            <div class="d-flex">
                            <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="form-group">
                             
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="digitalMarketingone" name="servicesInterestedIn" value="Digital Marketing">
                                <label class="form-check-label" for="digitalMarketingone">Digital Marketing</label>
                              </div>
                           
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="whatsappMarketingone" name="servicesInterestedIn" value="whatsappMarketing">
                                <label class="form-check-label" for="whatsappMarketingone">WhatsApp Marketing</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="logoBrandingone" name="servicesInterestedIn" value="logoBranding">
                                <label class="form-check-label" for="logoBrandingone">Logo Branding</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="emailMarketingone" name="servicesInterestedIn" value="emailMarketing">
                                <label class="form-check-label" for="emailMarketingone">Email Marketing</label>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="form-group">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="webDesigningone" name="servicesInterestedIn" value="webDesigning">
                                <label class="form-check-label" for="webDesigningone">Web Designing (UI/UX)</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="thirdPartyListingone" name="servicesInterestedIn" value="thirdPartyListing">
                                <label class="form-check-label" for="thirdPartyListingone">3rd Party Listing</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="onlinePaidMarketingone" name="servicesInterestedIn" value="onlinePaidMarketing">
                                <label class="form-check-label" for="onlinePaidMarketingone">Online Paid Marketing</label>
                              </div>
                              
                            </div>
                        </div>
                        </div>
                    </div>
                      </div>
                      <div class="mb-3">
             
                        <textarea class="comment-form__form-input popup-messsge" required  id="exampleInputMessageinfo" name="exampleInputMessageinfo" placeholder="Enter your messege" rows="3"></textarea>
                      </div>
                      <div class="col-md-12 mb-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">                                        
                        <div class="form-group ">
                            <div class="g-recaptcha" id="recaptcha" required  data-sitekey="6LcY2pAqAAAAACPtFkPBjgD-s1xNhajcTxvQK8KQ"></div>
                        </div>
                    </div>
                      <button type="submit"  id="popupBtn" class="comment-form__form-btn btn btn-sm digihub-btn digihub-btn--secondary">Submit</button>
                    </form>
              </div>
             
            </div>
          </div>
        </div>
        <!-- Contact Page Start -->
        <section class="contact-page">
            <div class="container">
                <div class="row">
                  
                    <div class="col-lg-6 ">
                        <div class="contact-page__info container-fluid ">
                            <div class="row alignments-two">
                                <div class="col-sm-6 col-xl-12 margin-bottom">
                                  <div class="service-two__single contact-height" >
                                    <div class="service-two__icon-box service-two__icon-box--two">
                                        <span class="service-two__icon service-two__icon--two lnr lnr-apartment"></span>
                                     
                                        <h3 class="service-two__number service-two__number--two">01</h3>
                                    </div><!-- /.service-two__icon-box -->
                                    <div class="service-two__content service-two__content--two">
                                        <h3 class="service-two__title">Guntur</h3>
                                       
                                        <p class="service-two__desc mb-2"><i class="fas fa-phone-alt"></i><a class="call-ph" href="tel:+91 738 249 4888" target="_blank"> +91 738 249 4888</a></p>
                                        <p class="service-two__desc mb-2"><i class="far fa-envelope"></i>  hello@dt7.agency</p>
                                        <p class="service-two__desc"><i class="fas fa-map-marker-alt"></i> First Floor, D.NO. 2-126/1, Zero line, Lakshmipuram, Chandramouli Nagar, Guntur, Andhra Pradesh 522006</p>
                                    </div><!-- /.service-two__content -->
                                </div><!-- /.service-two__single -->
                               
                                </div>
                                <div class="col-sm-6 col-xl-12 margin-top">
                                  <div class="service-two__single contact-height" >
                                    <div class="service-two__icon-box service-two__icon-box--three">
                                        <span class="service-two__icon service-two__icon--three lnr lnr-apartment"></span>
                                         
                                        <h3 class="service-two__number service-two__number--three">02</h3>
                                    </div><!-- /.service-two__icon-box -->
                                    <div class="service-two__content service-two__content--three">
                                      
                                        <h3 class="service-two__title">Hyderabad</h3>
                                        <p class="service-two__desc mb-2"><i class="fas fa-phone-alt"></i><a class="call-ph" href="tel:+91 738 249 4888" target="_blank"> +91 738 249 4888</a></p>
                                        <p class="service-two__desc mb-2"><i class="far fa-envelope"></i>  hello@dt7.agency</p>
                                        <p class="service-two__desc "><i class="fas fa-map-marker-alt"></i> plot no-60, 3rd floor, kavuri hills, Hyderabad 500081.</p>
                                    </div><!-- /.service-two__content -->
                                </div><!-- /.service-two__single -->
                                </div>
                            </div><!-- /.contact-page__info-row -->
                        </div><!-- /.contact-page__info -->
                    </div>
                    <div class="col-lg-6 ">
                        <div class="comment-form">
                           
                            <!-- <form class="comment-form__form container-fluid">
                                <div class="comment-form__form-row row">
                                    <div class="col-xl-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                        <div class="comment-form__form-input-box">
                                            <input type="text" name="comment-form-form-name" id="comment-form-form-name" placeholder="Your Name" class="comment-form__form-input">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                        <div class="comment-form__form-input-box">
                                            <input type="email" name="comment-form-form-email" id="comment-form-form-email" placeholder="Your Email" class="comment-form__form-input">
                                        </div>
                                    </div>
                                    <div class="col-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                        <div class="comment-form__form-input-box">
                                            <textarea name="comment-form-form-message" id="comment-form-form-message" placeholder="Write your messege" cols="30" rows="10" class="comment-form__form-message comment-form__form-input"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                        <div class="comment-form__form-input-box">
                                            <button type="submit" class="comment-form__form-btn digihub-btn digihub-btn--secondary">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form> -->
                            <form id="myForm" action="#" method="POST" class="comment-form__form container-fluid form-back">
                              {% csrf_token %}
                                <div class="comment-form__form-row row">
                                  <div class="col-md-6 mb-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                    <div class="form-group comment-form__form-input-box">
                                      <label for="FirstName">First Name</label>
                                      <input type="text" class="form-control" id="FirstName" name="FirstName" required>
                                    </div>
                                  </div>
                                  <div class="col-md-6 mb-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                    <div class="form-group comment-form__form-input-box">
                                      <label for="LastName">Last Name</label>
                                      <input type="text" class="form-control" id="LastName" name="LastName" required>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12 mb-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="form-group">
                                  <label for="Email">Email</label>
                                  <input type="email" class="form-control" id="Email"  name="Email" required>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2 wow animated fadeInUp " data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <label>Services Interested In:</label><br>
                                <div class="d-flex">
                                <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="form-group">
                                 
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="digitalMarketing" name="ServicesInterestedIn" value="Digital Marketing">
                                    <label class="form-check-label" for="digitalMarketing">Digital Marketing</label>
                                  </div>
                               
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="whatsappMarketing" name="ServicesInterestedIn" value="Digital Marketing">
                                    <label class="form-check-label" for="whatsappMarketing">WhatsApp Marketing</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="logoBranding" name="servicesInterestedIn" value="logoBranding">
                                    <label class="form-check-label" for="logoBranding">Logo Branding</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="emailMarketing" name="ServicesInterestedIn" value="emailMarketing">
                                    <label class="form-check-label" for="emailMarketing">Email Marketing</label>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="form-group">
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="webDesigning" name="ServicesInterestedIn" value="webDesigning">
                                    <label class="form-check-label" for="webDesigning">Web Designing (UI/UX)</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="thirdPartyListing" name="ServicesInterestedIn" value="thirdPartyListing">
                                    <label class="form-check-label" for="thirdPartyListing">3rd Party Listing</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="onlinePaidMarketing" name="ServicesInterestedIn" value="onlinePaidMarketing">
                                    <label class="form-check-label" for="onlinePaidMarketing">Online Paid Marketing</label>
                                  </div>
                                  
                                </div>
                            </div>
                            </div>
                        </div>
                            <div class="col-md-12 mb-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <div class="form-group">
                                  <label for="Message">Message</label>
                                  <textarea class="form-control" id="Message" name="Message" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">                                        
                              <div class="form-group ">
                                  <div class="g-recaptcha" id="recaptcha"  data-sitekey="6LcY2pAqAAAAACPtFkPBjgD-s1xNhajcTxvQK8KQ"></div>
                              </div>
                          </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="TermsAndConditions" name="TermsAndConditions" required>
                                  <label class="form-check-label" for="TermsAndConditions">I agree to the Terms and Conditions</label>
                                </div>
                                <button type="submit" id="submitBtn" class="comment-form__form-btn digihub-btn digihub-btn--secondary mt-3">Submit</button>
                              </form>
                        </div><!-- /.comment-form -->
                        <div class="loading" style="display: none;">Loading...</div>
                        <div class="error-message" style="display: none; color: red;">Error submitting the form.</div>
                        <div class="sent-message" style="display: none; color: green;">Your message has been sent successfully!</div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact-page -->
        <!-- Contact Page End -->
     
   
        <!-- Our Locations -->

    
    <section class="blog-one pt-5">
      <div class="container">
          <div class="blog-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
            
              <h2 class="blog-one__heading sec-title__heading">Our Locations</h2>
          </div><!-- /.blog-one__sec-title -->
          <div class="row">
            <div class="col-xl-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
              <div class="blog-one__card">
                  <a  data-hover-image="assets/images/shapes/hover-two.jpg" class="blog-one__img-box digihub-image-hover">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1914.6004294497063!2d80.4271966888429!3d16.312678096100683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a358be086d986d3%3A0x258611ac392f948e!2sDT7%20Agency!5e0!3m2!1sen!2sus!4v1732690154317!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     
                  </a>
                  <div class="blog-one__info-box locations">
                     
                      <h3 class="blog-one__title">Guntur</h3>
                      <p> <i class="fas fa-phone-alt"></i> +91 738 249 4888</p>
                      
                      <p ><i class="fas fa-map-marker-alt"></i> First Floor, D.NO. 2-126/1, Zero line, Lakshmipuram, Chandramouli Nagar, Guntur, Andhra Pradesh 522006 </p>
                      <a href="https://www.google.com/maps/place/DT7+Agency/@16.334629,80.443974,16z/data=!4m6!3m5!1s0x3a358be086d986d3:0x258611ac392f948e!8m2!3d16.3346288!4d80.4439737!16s%2Fg%2F11nms65x09?hl=en&entry=ttu&g_ep=EgoyMDI0MDkyNC4wIKXMDSoASAFQAw%3D%3D" class="blog-one__btn digihub-btn digihub-btn--border-one">Get Directions
                          <span></span><span></span><span></span><span></span></a>
                  </div><!-- /.blog-one__info-box -->
              </div><!-- /.blog-one__card -->
          </div>
          <div class="col-xl-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
            <div class="blog-one__card">
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4604299226908!2d78.397756175245!3d17.437663183458127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91463b7ebb4b%3A0x16a4ba4ed2262687!2sRd%20Number%2036%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1727431069607!5m2!1sen!2sin" data-hover-image="assets/images/shapes/hover-two.jpg" class="blog-one__img-box digihub-image-hover">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4604299226908!2d78.397756175245!3d17.437663183458127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91463b7ebb4b%3A0x16a4ba4ed2262687!2sRd%20Number%2036%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1727431069607!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   
                </a><!-- /.blog-one__img-box -->
                <div class="blog-one__info-box locations">
                    
                    <h3 class="blog-one__title"> Hyderabad</h3>
                    <p><i class="fas fa-phone-alt"></i> +91 738 249 4888</p>
                    <p ><i class="fas fa-map-marker-alt"></i> plot no-60, 3rd floor, kavuri hills, Hyderabad 500081.</p>
                    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4604299226908!2d78.397756175245!3d17.437663183458127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91463b7ebb4b%3A0x16a4ba4ed2262687!2sRd%20Number%2036%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1727431069607!5m2!1sen!2sin" class="blog-one__btn digihub-btn digihub-btn--border-one">Get Directions
                        <span></span><span></span><span></span><span></span></a>
                </div><!-- /.blog-one__info-box -->
            </div><!-- /.blog-one__card -->
        </div>
             
              
              
          </div><!-- /.row -->
      </div><!-- /.container -->
  </section><!-- /.blog-one -->
 
        <!-- Our Locations end  -->
       
        
        

{% endblock %}