<title>Best Digital Marketing Agency in Guntur | DT7 Agency</title>
<meta name="description" content="DT7.Agency, the best  digital marketing agency in Guntur, offers web design, branding, paid ads, WhatsApp & email marketing. Hire the best today!">
<meta name="keywords" content="best digital marketing agency near me, digital marketing in guntur">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
    
        <!-- Main Slider Start -->
        <section class="main-slider">
            <div class="container">
                <div class="main-slider__row row">
                    <div class="col-lg-7 wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="main-slider__left">
                            <h1 class="main-slider__heading">Digital Growth Troubles? <br> We're Here!</h1>
                        </div>
                    </div>
                    <div class="col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <div class="main-slider__right">
                            <p class="main-slider__desc wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                Struggling with digital growth? We help boost your online success!
                            </p>
                            <div class="main-slider__btn-group wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                <a href="{% if city.lower == 'hyderabad' %}/hyderabad/about/{% elif city.lower == 'vijayawada' %}/guntur/about/{% else %}/guntur/about/{% endif %}" class="digihub-btn digihub-btn--primary" title="Learn more about DT7Agency services">Learn More <span></span><span></span><span></span><span></span></a>
                                <a href="https://www.youtube.com/watch?v=CbP5Oku3MuM" class="main-slider__border-btn digihub-btn digihub-btn--border-two video-popup d-lg-block d-none" title="Watch DT7Agency video">Watch Our Video <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Slider -->
            <div class="main-slider__carousel digihub-owl__carousel owl-carousel owl-theme" data-owl-options='{"items": 1,"margin": 0,"loop": true,"smartSpeed": 700,"animateOut": "fadeOut","autoplayTimeout": 5000, "nav": false,"dots": false,"autoplay": true}'>
                <div class="item">
                    <div class="main-slider__image" style="background-image: url(../../static/assets/images/slider/hero-one.webp);" title="Grow Your Brand With Our Creative Marketing Solutions" alt="Grow Your Brand With Our Creative Marketing Solutions"></div>
                </div>
                <div class="item">
                    <div class="main-slider__image" style="background-image: url(../../static/assets/images/slider/hero-two.webp);" title="We Create Your Business Growth Strategies" alt="We Create Your Business Growth Strategies"></div>
                </div>
                <div class="item">
                    <div class="main-slider__image" style="background-image: url(../../static/assets/images/slider/hero-three.webp);" title="Unleashing the Power of Online Marketing: Impact & Innovation" alt="Unleashing the Power of Online Marketing: Impact & Innovation"></div>
                </div>
            </div>
            <!-- Slider Shapes -->
            <div class="main-slider__shape-box">
                <img src="{% static 'assets/images/shapes/slider-shape-1-1.png' %}" alt="Decorative Slider Shape" title="Slider Shape Decoration" class="main-slider__shape-one">
                <img src="{% static 'assets/images/shapes/slider-shape-1-2.png' %}" alt="Decorative Slider Shape" title="Slider Shape Decoration" class="main-slider__shape-two">
            </div>
        </section>
        <!-- Main Slider End -->

        <!-- Sliding Text One Start-->
        <section class="sliding-text-one">
            <div class="sliding-text-one__animate-text">
                <span title="Digital Promotions">Digital Promotions</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="Digital Promotions" title="Digital Promotions">
                
                <span title="Web Design (UX/UI)">Web Design (UX/UI)</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="Web Design (UX/UI)" title="Web Design (UX/UI)">
                
                <span title="Brand Identity">Brand Identity</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="Brand Identity" title="Brand Identity">
                
                <span title="Paid Advertising">Paid Advertising</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="Paid Advertising" title="Paid Advertising">
                
                <span title="WhatsApp Promotion">WhatsApp Promotion</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="WhatsApp Promotion" title="WhatsApp Promotion">
                
                <span title="Email Marketing">Email Marketing</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="Email Marketing" title="Email Marketing">
                
                <span title="Ecommerce Listing">Ecommerce Listing</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="Ecommerce Listing" title="Ecommerce Listing">
            </div>
        </section>
        <!-- Sliding Text One End-->

        <!-- Service One Start -->
        <section class="service-one padding-top-thirty  @@extraClassName">
            <div class="container">
                <div class="service-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">EXPLORE OUR SOLUTIONS</p>
                    <h2 class="service-one__heading sec-title__heading mb-3">7 Essential Solutions <br> We Offer </h2>
                </div>

                <div class="service-one__item hover-item container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-marketing-2" title="Digital Promotions Solutions"></span>
                                <h3 class="service-one__title" title="Digital Promotions Solutions">Digital Promotions</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">DT7.Agency is here to help businesses shine in the digital world. With our expert marketing services, we make it easier for companies of all sizes to connect with their customers and grow online</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/digital-marketing-services-in-guntur/" class="digihub-btn digihub-btn--border-one" title="Read More About Digital Promotions Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/digital promotions icon.png' %}" alt="Digital Promotions Solutions - DT7 Agency" title="Digital Promotions Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item  hover-item container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-connection" title="Web Design(UX/UI) Solutions"></span>
                                <h3 class="service-one__title" title="Web Design(UX/UI) Solutions">Web Design(UX/UI)</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">DT7.Agency is here to help your business shine online with our web design and development services. Whether you're a small startup or a big company, we create stunning websites that attract customers and make them feel at home.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/website-services-in-guntur/" class="digihub-btn digihub-btn--border-one" title="Read More About Web Design(UI/UX) Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/web design icon.png' %}" alt="Web Design(UI/UX) Solutions - DT7 Agency" title="Web Design(UI/UX) Solutions - DT7 Agency" class="hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item hover-item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-search" title="Brand Identity Solutions"></span>
                                <h3 class="service-one__title" title="Brand Identity Solutions">Brand Identity</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">DT7.Agency knows that every business tells its own story, and we help shape that story into a powerful brand identity. With our creative approach we work to make vision come alive, so you can stand out in a marketplace</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/brandidentity/" class="digihub-btn digihub-btn--border-one" title="Read More About Brand Identity Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/vectorbrand.png' %}" alt="Brand Identity Solutions - DT7 Agency" title="Brand Identity Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item hover-item container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-content-marketing" title="Paid Advertising Solutions"></span>
                                <h3 class="service-one__title" title="Paid Advertising Solutions">Paid Advertising</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">DT7.Agency offers paid advertising services that help businesses shine in a crowded market. We understand the challenges you face, and our goal is to create ads that not only grab attention but also bring real results for your company. </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/paidadvertising/" class="digihub-btn digihub-btn--border-one" title="Read More About Paid Advertising Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/marketingvector.png' %}" alt="Paid Advertising Solutions - DT7 Agency" title="Paid Advertising Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item  hover-item container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-chat-message" title="WhatsappPromotion Solutions"></span>
                                <h3 class="service-one__title" title="WhatsappPromotion Solutions">WhatsApp Promotion</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">DT7.Agency is here to help businesses connect with their customers in a fun and way through WhatsApp marketing. With our services, you can send messages that grab attention and keep your audience engaged, making it simple for your business to grow and thrive! </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/whatsAppPromotion/" class="digihub-btn digihub-btn--border-one" title="Read More About WhatsappPromotion Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/whatsappicon.png' %}" alt="WhatsappPromotion Solutions - DT7 Agency" title="WhatsappPromotion Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item  hover-item container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-report-business" title="Email Marketing Solutions"></span>
                                <h3 class="service-one__title" title="Email Marketing Solutions">Email Marketing</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">At DT7.Agency, we know that every business has a unique story to tell. Our email marketing services are designed to help you with your audience in a meaningful way, ensuring your message reaches the right people at just the right time.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/emailMarketing/" class="digihub-btn digihub-btn--border-one" title="Read More About Email Marketing Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/emailicon.png' %}" alt="Email Marketing Solutions - DT7 Agency" title="Email Marketing Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item hover-item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-online-shop" title="Ecommerce Listing Solutions"></span>
                                <h3 class="service-one__title" title="Ecommerce Listing Solutions">Ecommerce Listing</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Experience listing success in the ever-evolving world of ecommerce with our tailored solutions designed to drive growth and enhance customer retention.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/ecommerceListing/" class="digihub-btn digihub-btn--border-one" title="Read More About Ecommerce Listing Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/mobilevector.png' %}" alt="Ecommerce Listing Solutions - DT7 Agency" title="Digital Promotions Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

                <div class="service-one__item hover-item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-browser" title="SEO Optimization Solutions"></span>
                                <h3 class="service-one__title" title="SEO Optimization Solutions">Seo Optimization</h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">DT7.Agency understands how important it is for businesses to be seen online. With our SEO Optimization services, we help your website climb the search engine ranks, making it easier for customers to find you and choose products or services.</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/ecommerceListing/" class="digihub-btn digihub-btn--border-one" title="Read More About SEO Optimization Solutions">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/about/seoicon.png' %}" alt="SEO Optimization Solutions - DT7 Agency" title="SEO Optimization Solutions - DT7 Agency" class=" hover-item__box-img">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Service One End -->
         
        <!-- Our 6D Process Start -->
        <section class="about-one image-highlight">
            <div class="container">
                <div class="about-one__row row">
                    <div class="about-one__col-img col-xl-6 col-lg-9  order-lg-1 order-1 wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="about-one__content sec-title">
                            <div class="about-one__content-top wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <p class="sec-title__top">Finding Success</p>
                                <h2 class="about-one__heading sec-title__heading text-light mb-3">Explore Our<br> 6D Magic</h2>
                                <p class="about-one__desc text-light">Join Us on a Journey to Success with Our 6D Approach! </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-one__col-content col-xl-6 col-lg-9 order-lg-2 order-2">
                        <div class="about-one__content sec-title">
                            <div class="about-one__inner container-fluid">
                                <div class="row">
                                    <div class="col-xl-12 wow animated fadeInRight" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <div class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/portfolio/one-shape.png' %}" alt="Discover" title="Discover" class="footer-two__article-img">
                                            </div>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Discover</h4>
                                                <p class="about-one__inner-desc">Find valuable insights to better understand your market and audience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <div class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/define.png' %}" alt="Define" title="Define" class="footer-two__article-img">
                                            </div>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Define</h4>
                                                <p class="about-one__inner-desc">Set clear goals and strategies to guide your path to success.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <div class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/desgin.png' %}" alt="Design" title="Design" class="footer-two__article-img">
                                            </div>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Design</h4>
                                                <p class="about-one__inner-desc">Create beautiful and user-friendly experiences that engage your audience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.4s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <div class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/develop.png' %}" alt="Develop" title="Develop" class="footer-two__article-img">
                                            </div>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Develop</h4>
                                                <p class="about-one__inner-desc">Turn your vision into reality with expert development that fits your needs.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.5s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <div class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/deploy.png' %}" alt="Deploy" title="Deploy" class="footer-two__article-img">
                                            </div>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Deploy</h4>
                                                <p class="about-one__inner-desc">Launch your marketing campaigns smoothly and effectively.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.6s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <div class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/deliver.png' %}" alt="Deliver" title="Deliver" class="footer-two__article-img">
                                            </div>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Deliver</h4>
                                                <p class="about-one__inner-desc">Always go above and beyond to achieve great results that help your brand succeed.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our 6D Process End -->

        <!-- Work Portfolio One Start -->
        <section class="portfolio-one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <div class="portfolio-one__content sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <p class="sec-title__top">OUR RECENT WORK</p>
                            <h2 class="portfolio-one__heading sec-title__heading mb-5">A Look at <br> our Latest Projects</h2>
                            <p class="mb-5">Explore our creative world as we present our newest projects, each one a unique masterpiece.</p>
                        </div>
                        <div class="col-12">
                            <div class="portfolio-one__inner-container container-fluid">
                                <div class="filter-layout row">
                                    <div class="col-xl-12 col-lg-6">
                                        <div class="portfolio-one__item">
                                            <img src="{% static 'assets/images/service/gorantla-hospitals-brand-kit-design.webp' %}" alt="Gorantla Hospitals Brand Kit Design" title="Gorantla Hospitals Brand Kit" class="portfolio-one__item-img">
                                            <div class="portfolio-one__item-content">
                                                <h3 class="portfolio-one__item-title">
                                                    <a href="/brandidentity/" title="View Gorantla Hospitals Brand Kit Identity">Gorantla Hospitals</a>
                                                </h3>
                                            </div>
                                            <div class="portfolio-one__item-overlay">
                                                <a href="{% static 'assets/images/service/gorantla-hospitals-brand-kit-design.webp' %}" class="portfolio-one__item-plus img-popup" title="Gorantla Hospitals Brand Kit">
                                                    <span class="portfolio-one__item-plus-icon icon-plus"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-6">
                                        <div class="portfolio-one__item">
                                            <img src="{% static 'assets/images/service/digital-marketing-social-media-promotions.webp' %}" alt="Digital Promotions and Social Media Marketing Work" title="Digital Marketing Campaign for Social Engagement" class="portfolio-one__item-img">
                                            <div class="portfolio-one__item-content">
                                                <h3 class="portfolio-one__item-title">
                                                    <a href="/digital-marketing-services-in-guntur/" title="Digital Marketing Services & Promotions">Digital Promotions</a>
                                                </h3>
                                            </div>
                                            <div class="portfolio-one__item-overlay">
                                                <a href="{% static 'assets/images/service/digital-marketing-social-media-promotions.webp' %}" class="portfolio-one__item-plus img-popup" title="Digital Marketing Social Media Works">
                                                    <span class="portfolio-one__item-plus-icon icon-plus"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio-one__inner-container container-fluid">
                            <div class="filter-layout row">
                                <div class="col-xl-12 col-lg-6">
                                    <div class="portfolio-one__item">
                                        <img src="{% static 'assets/images/service/akr-jewellery-digital-marketing-design.webp' %}" alt="AKR Jewellery Digital Marketing Campaign" title="AKR Jewellery - Digital Marketing Services" class="portfolio-one__item-img">
                                        <div class="portfolio-one__item-content">
                                            <h3 class="portfolio-one__item-title">
                                                <a href="/digital-marketing-services-in-guntur/" title="Digital Marketing Services for AKR Jewellery">AKR Jewellery</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-one__item-overlay">
                                            <a href="{% static 'assets/images/service/akr-jewellery-digital-marketing-design.webp' %}" class="portfolio-one__item-plus img-popup" title="AKR Jewellery Marketing Design Mockup">
                                                <span class="portfolio-one__item-plus-icon icon-plus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="portfolio-one__item">
                                        <img src="{% static 'assets/images/service/varahi-enterprises-brand-identity-design.webp' %}" alt="Varahi Enterprises Brand Kit Design" title="Varahi Enterprises Branding Kit" class="portfolio-one__item-img">
                                        <div class="portfolio-one__item-content">
                                            <h3 class="portfolio-one__item-title">
                                                <a href="/brandidentity/" title="View Brand Identity Work for Varahi Enterprises">Varahi Enterprises</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-one__item-overlay">
                                            <a href="{% static 'assets/images/service/varahi-enterprises-brand-identity-design.webp' %}" class="portfolio-one__item-plus img-popup" title="View Varahi Enterprises Branding Mockup">
                                                <span class="portfolio-one__item-plus-icon icon-plus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="portfolio-one__item">
                                        <img src="{% static 'assets/images/service/creative-web-design-ui-ux-development.webp' %}" alt="Creative Web Design and UI/UX Development" title="Website Design and UI/UX Development Services" class="portfolio-one__item-img">
                                        <div class="portfolio-one__item-content">
                                            <h3 class="portfolio-one__item-title">
                                                <a href="/websitedesign/" title="Explore Professional Web Design and UI/UX Services">Web Design (UI/UX)</a>
                                            </h3>
                                        </div>
                                        <div class="portfolio-one__item-overlay">
                                            <a href="{% static 'assets/images/service/creative-web-design-ui-ux-development.webp' %}" class="portfolio-one__item-plus img-popup" title="View Creative Web Design Mockup">
                                                <span class="portfolio-one__item-plus-icon icon-plus"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Work Portfolio One End -->

        <!-- About DT7Agency Start -->
        <section class="about-three pt-0  @@extraClassName">
            <div class="container">
                <div class="about-three__row row">  
                    <div class="col-lg-6 wow animated fadeInRight order-2 order-lg-1" data-wow-delay="0.1s" data-wow-duration="1000ms">
                        <div class="about-three__img-box">
                            <div class="about-three__img-box-inner">
                                <div class="digihub-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 4, "speed": 700, "scale": 1 }'>
                                    <img src="{% static 'assets/images/about/social-media-marketing-agency-in-guntur.webp' %}" alt="Social Media Marketing Agency in Guntur - DT7.Agency" title="Social Media Marketing Agency in Guntur - DT7.Agency" class="about-three__img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1">
                        <div class="about-three__content sec-title">
                            <p class="sec-title__top wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1200ms">WHO WE ARE</p>
                            <h2 class="about-three__heading sec-title__heading wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">About DT7.Agency</h2>
                            <p class="about-three__desc wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1200ms">At DT7.Agency, we love turning challenges into opportunities. Our team of creative problem-solvers is dedicated to helping your brand achieve its goals. With our mix of experience and fresh ideas, we always deliver real results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About DT7Agency End -->

        <!-- Subscribe One Start -->
        <section class="subscribe-one">
            <h2 class="subscribe-one__inner-heading">DT7.AGENCY</h2>
            <div class="container">
                <div class="subscribe-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <h2 class="subscribe-one__heading sec-title__heading">Connect With us</h2>
                </div>

                <form action="#" data-url="https://vsbsurfaces.us21.list-manage.com/subscribe/post?u=7f1c22c90c12768cd13b815e0&amp;id=e0c90c4c5d&amp;f_id=000be9e6f0" class="subscribe-one__form mc-form">
                    <input type="email" name="EMAIL" id="subscribe-one-input" placeholder="Email Address Here" class="subscribe-one__input">
                    <button type="submit" class="subscribe-one__btn"><i class="fas fa-paper-plane"></i></button>
                </form>
                <div class="mc-form__response"></div>

                <div class="counter-one container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-one">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="50" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div>
                                <p class="counter-one__count-title">Happy <br>Clients</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-two">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="3" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div>
                                <p class="counter-one__count-title"><br> Awards</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-three">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="100" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div>
                                <p class="counter-one__count-title">completed<br> projects</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-four">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="10" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div>
                                <p class="counter-one__count-title">Years of  <br>Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe One End -->

        <!--Client Video Quote section start -->
        <section class="client-video-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-md-12  wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <video controls muted autoplay playsinline class="custom-video" title="Our Client Project Video - DT7.Agency" aria-label="Client Project Video showcasing our work">
                            <source src="{% static 'assets/images/projects/video.mp4' %}" type="video/mp4">
                        </video> 
                    </div>
                </div>
            </div>
        </section>
        <!--Client Video Quote section end -->

        <!-- Blog One Start -->
        <section class="blog-one pt-5">
            <div class="container">
                <div class="blog-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">Discover Our Latest Posts</p>
                    <h2 class="blog-one__heading sec-title__heading">Expert Strategies for Online Success</h2>
                </div>
                <div class="row">
                    {% for blogitem in latest_blogs %}
                    <div class="col-xl-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="blog-page__blog">
                            <div class="blog-page__blog-img-box">
                                <img src="/media/{{blogitem.Image1}}" alt="{{ blogitem.Title }} - DT7.Agency Blog" title="{{ blogitem.Title }} | Expert Insights" class="blog-page__blog-img">
                            </div>
                            <div class="blog-page__blog-content">
                                <ul class="blog-page__blog-info">
                                    <li><i class="far fa-user"></i><span>{{ blogitem.CreatedName }}</span></li>
                                    <li><i class="far fa-calendar-alt"></i><span>{{ blogitem.Create_at }}</span></li>
                                </ul>
                                <a href="/blog/{{ blogitem.Sluglink }}" class="blog-page__blog-title mb-3" title="Read {{ blogitem.Title }} - DT7.Agency Blog">{{ blogitem.Title }}</a>
                                <a href="/blog/{{ blogitem.Sluglink }}" class="blog-page__blog-btn digihub-btn digihub-btn--secondary" title="Read More: {{ blogitem.Title }}">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Blog One End -->

        <!--Enquiry Form Popup section start -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 " style="text-align:center;" id="exampleModalLabel"> Enquiry Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <form action="#" id="popresetting" method="POST" class="container-fluid">
                            {% csrf_token %}
                            <div class="row   mb-3">
                                <div class="col-md-6 ">
                                    <input type="text" class="comment-form__form-input " required id="exampleInputName" name="exampleInputName" placeholder="Your Name" aria-describedby="nameHelp">
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" class="comment-form__form-input" required id="exampleInputPhone" name="exampleInputPhone" placeholder="Phone number">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="email" class="comment-form__form-input" required id="exampleInputEmail" name="exampleInputEmail" placeholder="Email" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="col-md-12 mb-2 " data-wow-delay="0.1s" data-wow-duration="1500ms">
                                    <label>Services Interested In:</label><br>
                                    <div class="d-flex">
                                        <div class="col-md-6" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="digitalMarketingone" name="servicesInterestedIn" value="Digital Marketing">
                                                    <label class="form-check-label" for="digitalMarketingone">Digital Marketing</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="whatsappMarketingone" name="servicesInterestedIn" value="whatsappMarketing">
                                                    <label class="form-check-label" for="whatsappMarketingone">WhatsApp Marketing</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="logoBrandingone" name="servicesInterestedIn" value="logoBranding">
                                                    <label class="form-check-label" for="logoBrandingone">Logo Branding</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="emailMarketingone" name="servicesInterestedIn" value="emailMarketing">
                                                    <label class="form-check-label" for="emailMarketingone">Email Marketing</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="webDesigningone" name="servicesInterestedIn" value="webDesigning">
                                                    <label class="form-check-label" for="webDesigningone">Web Designing (UI/UX)</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="thirdPartyListingone" name="servicesInterestedIn" value="thirdPartyListing">
                                                    <label class="form-check-label" for="thirdPartyListingone">3rd Party Listing</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="onlinePaidMarketingone" name="servicesInterestedIn" value="onlinePaidMarketing">
                                                    <label class="form-check-label" for="onlinePaidMarketingone">Online Paid Marketing</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <textarea class="comment-form__form-input popup-messsge" required id="exampleInputMessageinfo" name="exampleInputMessageinfo" placeholder="Enter your messege" rows="3"></textarea>
                            </div>
                            <button type="submit" id="popupBtn" class="comment-form__form-btn btn btn-sm digihub-btn digihub-btn--secondary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Enquiry Form Popup section end -->
   
        <!-- <div id="mc_embed_signup">
            <form action="https://vsbsurfaces.us21.list-manage.com/subscribe/post?u=7f1c22c90c12768cd13b815e0&amp;id=e0c90c4c5d&amp;f_id=000be9e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                
                <input type="text" name="b_7f1c22c90c12768cd13b815e0_e0c90c4c5d" tabindex="-1" value="">
            </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iy_wLU" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                    </div>
                </div>
            </div>
          </form>
          </div> -->
        
{% endblock %}  

