<title>Dt7solutions | Home</title>

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
    
    
        <!-- Main Slider Start -->
        <section class="main-slider">
            <div class="container">
                <div class="main-slider__row row">
                    <div class="col-lg-7 wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="main-slider__left">
                            <h1 class="main-slider__heading">Digital Growth Troubles? <br> We're Here!</h1>
                        </div><!-- /.main-slider__left -->
                    </div>
                    <div class="col-lg-5  wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <div class="main-slider__right">
                            <p class="main-slider__desc wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms"> Struggling with digital growth? Don't worry, we've got your back! Let's tackle your challenges and boost your online success together! </p>
                            <div class="main-slider__btn-group wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                <a href="about.html" class="digihub-btn digihub-btn--primary">Learn More <span></span><span></span><span></span><span></span></a>
                                <a href="https://www.youtube.com/watch?v=KGfC_EhiDKs" class="main-slider__border-btn digihub-btn digihub-btn--border-two video-popup">Watch Our Video <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.main-slider__btn-group -->
                        </div><!-- /.main-slider__right -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="main-slider__carousel digihub-owl__carousel owl-carousel owl-theme" data-owl-options='{
		"items": 1,
		"margin": 0,
		"loop": true,
		"smartSpeed": 700,
		"animateOut": "fadeOut",
		"autoplayTimeout": 5000, 
		"nav": false,
		"dots": false,
		"autoplay": true
		}'>
                <div class="item">
                    <div class="main-slider__image" style="background-image: url(../../static/assets/images/slider/hero-one.png);"></div>
                </div>
                <div class="item">
                    <div class="main-slider__image" style="background-image: url(../../static/assets/images/slider/hero-two.png);"></div>
                </div>
                <div class="item">
                    <div class="main-slider__image" style="background-image: url(../../static/assets/images/slider/hero-three.png);"></div>
                </div>
            </div><!-- banner slider -->
            <div class="main-slider__shape-box">
                <img src="{% static 'assets/images/shapes/slider-shape-1-1.png' %}" alt="slider-shape" class="main-slider__shape-one">
                <img src="{% static 'assets/images/shapes/slider-shape-1-2.png' %}" alt="slider-shape" class="main-slider__shape-two">
            </div><!-- /.main-slider__shape-box -->
        </section><!-- /.slider-one -->
        <!-- Main Slider End -->
        <!-- Sliding Text One Start-->
        <section class="sliding-text-one">
            <div class="sliding-text-one__animate-text">
                <span>Digital Promotions</span>
                <img src="{% static 'assets/images/resources/star.png' %}" class="star-image" alt="star image">
                <span>Web Design(UX/UI)</span>
                <img src="{% static 'assets/images/resources/star.png' %}"  class="star-image" alt="star image">
                <span>Brand Identity</span>
                <img src="{% static 'assets/images/resources/star.png' %}"  class="star-image" alt="star image">
                <span>Paid Advertising</span>
                <img src="{% static 'assets/images/resources/star.png' %}"  class="star-image" alt="star image">
                <span>WhatsApp Promotion</span>
                <img src="{% static 'assets/images/resources/star.png' %}"  class="star-image" alt="star image">
                <span>Email Marketing</span>
                <img src="{% static 'assets/images/resources/star.png' %}"  class="star-image" alt="star image">
                <span>Ecommerce Listing</span>
                <img src="{% static 'assets/images/resources/star.png' %}"  class="star-image" alt="star image">
            </div><!-- /.sliding-text-one__animate-text -->
        </section><!-- /.sliding-text-one -->
        <!-- Service One Start -->
        <section class="service-one padding-top-thirty  @@extraClassName">
            <div class="container">
                <div class="service-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">EXPLORE OUR SOLUTIONS</p>
                    <h2 class="service-one__heading sec-title__heading mb-3">7 Essential Solutions </h2>
                    <h2 class="service-one__heading sec-title__heading"> We Offer </h2>
                </div><!-- /.service-one__sec-title -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-marketing-2"></span>
                                <h3 class="service-one__title">Digital Promotions</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Unlock the potential of your online presence with tailored digital marketing solutions that drive engagement and growth.</p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-1.png ' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-connection"></span>
                                <h3 class="service-one__title">Web Design(UX/UI)</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Craft intuitive and visually captivating digital experiences with our expert web crafting services, seamlessly blending UI/UX design to elevate user engagement.</p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-1.png' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-search"></span>
                                <h3 class="service-one__title">Brand Identity</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Define your brand identity and leave a lasting impression with our comprehensive branding solutions tailored to resonate with your audience.</p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-2.png ' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-content-marketing"></span>
                                <h3 class="service-one__title">Paid Advertising</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Reach your target audience effectively with our strategic and results-driven online paid Advertising solutions. </p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-3.png ' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-chat-message"></span>
                                <h3 class="service-one__title">WhatsApp Promotion</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Harness the power of direct and personalized communication with your audience through our innovative WhatsApp marketing strategies. </p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-3.png ' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-report-business"></span>
                                <h3 class="service-one__title">Email Marketing</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Maximize your outreach and cultivate meaningful connections with our dynamic email marketing solutions tailored to engage and convert your audience effectively.</p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="/" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-3.png ' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
                <div class="service-one__item  container-fluid">
                    <div class="row">
                        <div class="col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="service-one__img-box">
                                <span class="service-one__icon icon-online-shop"></span>
                                <h3 class="service-one__title"> Ecommerce Listing</h3>
                            </div><!-- /.service-one__img-box -->
                        </div>
                        <div class="col-xl-6 col-lg-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <div class="service-one__text-box">
                                <p class="service-one__text">Experience listing success in the ever-evolving world of ecommerce with our tailored solutions designed to drive growth and enhance customer retention.</p>
                            </div><!-- /.service-one__text-box -->
                        </div>
                        <div class="col-xl-2 col-lg-3 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <div class="service-one__btn-box">
                                <a href="social-boost.html" class="digihub-btn digihub-btn--border-one">READ MORE <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.service-one__btn-box -->
                        </div>
                        <div class="hover-item__box">
                            <img src="{% static 'assets/images/service/service-1-3.png ' %}" alt="team-item-hover" class=" hover-item__box-img">
                        </div><!-- /.hover-item__box -->
                    </div><!-- /.row -->
                </div><!-- /.service-one__item -->
            </div><!-- /.container -->
        </section><!-- /.service-one -->
        <!-- Service One End -->
         
        <!-- Sliding Text One End-->
        <!-- About One Start -->
        <section class="about-one image-highlight">
            <div class="container">
                <div class="about-one__row row">
                    <div class="about-one__col-img col-xl-6 col-lg-9  order-lg-1 order-1 wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="about-one__content sec-title">
                            <div class="about-one__content-top wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <p class="sec-title__top">UNVEILING OUR PROCESS</p>
                                <h2 class="about-one__heading sec-title__heading text-light">Discovering Success: Inside Our 6D Magic</h2>
                                <p class="about-one__desc text-light">Journey Through Our Transformative 6D Method and Discover the Path to Sucess Together </p>
                            </div><!-- /.about-one__content-top -->
                          
                        </div><!-- /.about-one__content -->
                    </div>
                    <div class="about-one__col-content col-xl-6 col-lg-9 order-lg-2 order-2">
                        <div class="about-one__content sec-title">
                          
                            <div class="about-one__inner container-fluid">
                                <div class="row">
                                    <div class="col-xl-12 wow animated fadeInRight" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <!-- <div class="about-one__inner-icon-box">
                                                <span class="about-one__inner-icon icon-discover" ></span>
                                            </div> -->
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/portfolio/one-shape.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Discover</h4>
                                                <p class="about-one__inner-desc">Uncover valuable insights and opportunities to understand your market and audience deeply</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/define.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Define</h4>
                                                <p class="about-one__inner-desc">Clearly outline your goals, objectives, and strategies to pave the way for success.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/desgin.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Desgin</h4>
                                                <p class="about-one__inner-desc">Craft visually stunning and intuitive experiences that captivate and engage your audience.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/develop.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Develop</h4>
                                                <p class="about-one__inner-desc">Bring your vision to life with expert development tailored to your unique needs and specifications.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/deploy.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Deploy</h4>
                                                <p class="about-one__inner-desc">Seamlessly launch your marketing campaigns and initiatives with precision and efficiency.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                    <div class="col-xl-12 mt-0 wow animated fadeInRight" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                        <div class="about-one__inner-box">
                                            <a  class="footer-two__article-img-box">
                                                <img src="{% static 'assets/images/shapes/deliver.png' %}" alt="article" class="footer-two__article-img">
                                                <span class="footer-two__plus icon-plus"></span>
                                            </a>
                                            <div class="about-one__inner-content">
                                                <h4 class="about-one__inner-title">Deliver</h4>
                                                <p class="about-one__inner-desc">Consistently exceed expectations and deliver exceptional results to propel your brand forward.</p>
                                            </div>
                                        </div><!-- /.about-one__inner-box -->
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.about-one__inner -->
                        </div><!-- /.about-one__content -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-one -->
        <!-- About One End -->
         <!-- Portfolio One Start -->
         <section class="portfolio-one ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="portfolio-one__content sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <p class="sec-title__top">OUR RECENT WORK</p>
                            <h2 class="portfolio-one__heading sec-title__heading">A Showcase of <br> our Latest Projects</h2>
                            <p>Step into our world of creativity and excellence as we showcase our latest projects, each one a masterpiece in its own right.</p>
                            <ul class="portfolio-one__btn-group post-filter">
                                <li data-filter=".filter-item" class="portfolio-one__btn active">All Project <span></span><span></span><span></span><span></span></li>
                                <!-- <li data-filter=".architecher" class="portfolio-one__btn">Architecher <span></span><span></span><span></span><span></span></li>
                                <li data-filter=".large" class="portfolio-one__btn">Large <span></span><span></span><span></span><span></span></li>
                                <li data-filter=".interiour" class="portfolio-one__btn">Interiour <span></span><span></span><span></span><span></span></li>
                                <li data-filter=".house" class="portfolio-one__btn">House <span></span><span></span><span></span><span></span></li> -->
                            </ul><!-- /.portfolio-one__btn-group -->
                        </div><!-- /.portfolio-one__content -->
                        <div class="col-12">
                            <div class="portfolio-one__inner-container container-fluid">
                                <div class="filter-layout row">
                                    <div class="col-xl-12 col-lg-6 architecher interiour filter-item">
                                        <div class="portfolio-one__item">
                                            <img src="{% static 'assets/images/portfolio/kallos.png' %}" alt="portfolio" class="portfolio-one__item-img">
                                            <div class="portfolio-one__item-content">
                                                <h3 class="portfolio-one__item-title"><a href="/">Kallos</a></h3>
                                                <p class="portfolio-one__item-text"></p>
                                            </div><!-- /.portfolio-one__item-content -->
                                            <div class="portfolio-one__item-overlay">
                                                <a href="{% static 'assets/images/portfolio/kallos.png' %}" class="portfolio-one__item-plus img-popup"><span class="portfolio-one__item-plus-icon icon-plus"></span></a>
                                            </div><!-- /.portfolio-one__item-overlay -->
                                        </div><!-- /.portfolio-one__item -->
                                    </div>
                                  
                                    <div class="col-xl-12 col-lg-12 architecher interiour filter-item">
                                        <div class="portfolio-one__item">
                                            <img src="{% static 'assets/images/portfolio/socialwork.png' %}" alt="portfolio" class="portfolio-one__item-img">
                                            <div class="portfolio-one__item-content">
                                                <h3 class="portfolio-one__item-title"><a href="/">Digital Promotions</a></h3>
                                                <p class="portfolio-one__item-text"></p>
                                            </div><!-- /.portfolio-one__item-content -->
                                            <div class="portfolio-one__item-overlay">
                                                <a href="{% static 'assets/images/portfolio/socialwork.png' %}" class="portfolio-one__item-plus img-popup"><span class="portfolio-one__item-plus-icon icon-plus"></span></a>
                                            </div><!-- /.portfolio-one__item-overlay -->
                                        </div><!-- /.portfolio-one__item -->
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.portfolio-one__inner-container -->
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="portfolio-one__inner-container container-fluid">
                            <div class="filter-layout row">
                                <div class="col-xl-12 col-lg-6 architecher interiour filter-item">
                                    <div class="portfolio-one__item">
                                        <img src="{% static 'assets/images/portfolio/akr.png' %}" alt="portfolio" class="portfolio-one__item-img">
                                        <div class="portfolio-one__item-content">
                                            <h3 class="portfolio-one__item-title"><a href="/">AKR Jewellery</a></h3>
                                            <p class="portfolio-one__item-text"></p>
                                        </div><!-- /.portfolio-one__item-content -->
                                        <div class="portfolio-one__item-overlay">
                                            <a href="{% static 'assets/images/portfolio/akr.png' %}" class="portfolio-one__item-plus img-popup"><span class="portfolio-one__item-plus-icon icon-plus"></span></a>
                                        </div><!-- /.portfolio-one__item-overlay -->
                                    </div><!-- /.portfolio-one__item -->
                                </div>
                                <div class="col-xl-12 col-lg-6 large house filter-item">
                                    <div class="portfolio-one__item">
                                        <img src="{% static 'assets/images/portfolio/femina-new.png' %}" alt="portfolio" class="portfolio-one__item-img">
                                        <div class="portfolio-one__item-content">
                                            <h3 class="portfolio-one__item-title"><a href="/">Femina</a></h3>
                                            <p class="portfolio-one__item-text"></p>
                                        </div><!-- /.portfolio-one__item-content -->
                                        <div class="portfolio-one__item-overlay">
                                            <a href="{% static 'assets/images/portfolio/femina-new.png' %}" class="portfolio-one__item-plus img-popup"><span class="portfolio-one__item-plus-icon icon-plus"></span></a>
                                        </div><!-- /.portfolio-one__item-overlay -->
                                    </div><!-- /.portfolio-one__item -->
                                </div>
                                
                                <div class="col-xl-12 col-lg-6 large house filter-item">
                                    <div class="portfolio-one__item">
                                        <img src="{% static 'assets/images/portfolio/website.png' %}" alt="portfolio" class="portfolio-one__item-img">
                                        <div class="portfolio-one__item-content">
                                            <h3 class="portfolio-one__item-title"><a href="/">Web Desgin(UI/UX)</a></h3>
                                            <p class="portfolio-one__item-text"></p>
                                        </div><!-- /.portfolio-one__item-content -->
                                        <div class="portfolio-one__item-overlay">
                                            <a href="{% static 'assets/images/portfolio/website.png' %}" class="portfolio-one__item-plus img-popup"><span class="portfolio-one__item-plus-icon icon-plus"></span></a>
                                        </div><!-- /.portfolio-one__item-overlay -->
                                    </div><!-- /.portfolio-one__item -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.portfolio-one__inner-container -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.portfolio-one -->
        <!-- Portfolio One End -->
         <!-- About Three Start -->
        <section class="about-three pt-0  @@extraClassName">
            <div class="container">
                <div class="about-three__row row">
                    
                    <div class="col-lg-6 wow animated fadeInRight order-2 order-lg-1" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="about-three__img-box">
                            <div class="about-three__img-box-inner">
                                <div class="digihub-tilt"
                                    data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 4, "speed": 700, "scale": 1 }'>
                                    <img src="{% static 'assets/images/about/about.jpg' %}" alt="about image" class="about-three__img">
                                </div>
        
        
                            </div><!-- /.about-three__img-box-inner -->
        
                        </div><!-- /.about-three__img-box -->
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1">
                        <div class="about-three__content sec-title">
                            <p class="sec-title__top wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                               WHO WE ARE</p>
                            <h2 class="about-three__heading sec-title__heading wow animated fadeIn" data-wow-delay="0.1s"
                                data-wow-duration="1500ms">About DT7 Solutions</h2>
                            <p class="about-three__desc wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                At DT7 Solutions, we thrive on turning challenges into opportunities. Our team comprises creative problem-solvers committed to realizing your brand's objectives. With our blend of experience and innovation, we consistently deliver tangible results.</p>
        
                        </div><!-- /.about-three__content -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-three -->
        <!-- About Three End -->
        <!-- Subscribe One Start -->
        <section class="subscribe-one">
            <h2 class="subscribe-one__inner-heading">DT7.AGENCY</h2>
            <div class="container">
                <div class="subscribe-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <h2 class="subscribe-one__heading sec-title__heading">subscribe to stay connected</h2>
                </div><!-- /.subscribe-one__sec-title -->
                <form action="#" data-url="MAILCHIMP_FORM_URL" class="subscribe-one__form mc-form">
                    <input type="email" name="EMAIL" id="subscribe-one-input" placeholder="Email Address Here" class="subscribe-one__input">
                    <button type="submit" class="subscribe-one__btn"><i class="fas fa-paper-plane"></i></button>
                </form><!-- /.subscribe-one__form -->
                <div class="mc-form__response"></div><!-- /.mc-form__response -->
                <div class="counter-one container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-one">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="50" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title">Happy <br>Cilents</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-two">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="2" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title"><br> Awards</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-three">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="24" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">k</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title">Working<br> projects</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                        <div class="col-lg-3 col-sm-6 wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="counter-one__count-box counter-one__count-box-four">
                                <div class="counter-one__count-box-inner sec-title count-box">
                                    <h3 class="sec-title__heading count-text" data-stop="10" data-speed="1500">00</h3>
                                    <h3 class="sec-title__heading">+</h3>
                                </div><!-- /.counter-one__count-box-inner -->
                                <p class="counter-one__count-title">Years of  <br>Experience</p>
                            </div><!-- /.counter-one__count-box -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.container -->
        </section><!-- /.subscribe-one -->
        <!-- Subscribe One End -->
       <!--Quote section start   -->
       <section >
        
        <div class="container-fluid">
            <div class="row">
            <div class="col-xl-12 col-md-12  wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <video controls muted autoplay playsinline  class="custom-video">
                    <source src="{% static 'assets/images/projects/video.mp4' %}" type="video/mp4">
                    
                </video>  
            </div><!-- /.subscribe-one__sec-title -->
        </div>
            
            
        </div><!-- /.container -->
    </section>
       <!-- Quote section end  -->

       
        
        <!-- Blog One Start -->
        <section class="blog-one  padding-top-thirty">
            <div class="container">
                <div class="blog-one__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
                    <p class="sec-title__top">OUR LATEST BLOGS</p>
                    <h2 class="blog-one__heading sec-title__heading">Discover Our Latest Posts</h2>
                </div><!-- /.blog-one__sec-title -->
                <div class="row">
                    <div class="col-xl-4 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="blog-one__card">
                            <a href="blog-details.html" data-hover-image="{% static 'assets/images/shapes/hover-one.jpg' %}" class="blog-one__img-box digihub-image-hover">
                                <img src="{% static 'assets/images/counter/blog-one.png' %}" alt="blog" class="blog-one__img">
                                <img src="{% static 'assets/images/counter/blog-one.png' %}" alt="blog" class="blog-one__img">
                                <div class="blog-one__date-box">
                                    <h3 class="blog-one__date">23</h3>
                                    <h3 class="blog-one__date">NOV</h3>
                                </div><!-- /.blog-one__date-box -->
                            </a><!-- /.blog-one__img-box -->
                            <div class="blog-one__info-box">
                                <ul class="blog-one__comment-box">
                                    <li>
                                        <i class="far fa-user"></i>
                                        <span>By DT7Solutions</span>
                                    </li>
                                   
                                </ul><!-- /.blog-one__comment-box -->
                                <h3 class="blog-one__title"><a href="blog-details.html">Exploring the Power of Design Thinking: A Guide for Budding Innovators.</a></h3>
                                <a href="blog-details.html" class="blog-one__btn digihub-btn digihub-btn--border-one">READ MORE
                                    <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.blog-one__info-box -->
                        </div><!-- /.blog-one__card -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <div class="blog-one__card">
                            <a href="blog-details.html" data-hover-image="{% static 'assets/images/shapes/hover-two.jpg'%}" class="blog-one__img-box digihub-image-hover">
                                <img src="{% static 'assets/images/counter/blog-two.png' %}" alt="blog" class="blog-one__img">
                                <img src="{% static 'assets/images/counter/blog-two.png' %}" alt="blog" class="blog-one__img">
                                <div class="blog-one__date-box">
                                    <h3 class="blog-one__date">24</h3>
                                    <h3 class="blog-one__date">Feb</h3>
                                </div><!-- /.blog-one__date-box -->
                            </a><!-- /.blog-one__img-box -->
                            <div class="blog-one__info-box">
                                <ul class="blog-one__comment-box">
                                    <li>
                                        <i class="far fa-user"></i>
                                        <span>By DT7Solutions</span>
                                    </li>
                                   
                                </ul><!-- /.blog-one__comment-box -->
                                <h3 class="blog-one__title"><a href="blog-details.html">Best Web Desgin Company in Guntur </a></h3>
                                <a href="blog-details.html" class="blog-one__btn digihub-btn digihub-btn--border-one">READ MORE
                                    <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.blog-one__info-box -->
                        </div><!-- /.blog-one__card -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                        <div class="blog-one__card">
                            <a href="blog-details.html" data-hover-image="{% static 'assets/images/shapes/hover-three.jpg'%}" class="blog-one__img-box digihub-image-hover">
                                <img src="{% static 'assets/images/counter/blog-three.png' %}" alt="blog" class="blog-one__img">
                                <img src="{% static 'assets/images/blog/blog-three.png' %}" alt="blog" class="blog-one__img">
                                <div class="blog-one__date-box">
                                    <h3 class="blog-one__date">28</h3>
                                    <h3 class="blog-one__date">Feb</h3>
                                </div><!-- /.blog-one__date-box -->
                            </a><!-- /.blog-one__img-box -->
                            <div class="blog-one__info-box">
                                <ul class="blog-one__comment-box">
                                    <li>
                                        <i class="far fa-user"></i>
                                        <span>By DT7Solutions</span>
                                    </li>
                                   
                                </ul><!-- /.blog-one__comment-box -->
                                <h3 class="blog-one__title"><a href="blog-details.html">Eight Characteristics of a user-friendly website</a></h3>
                                <a href="blog-details.html" class="blog-one__btn digihub-btn digihub-btn--border-one">READ MORE
                                    <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.blog-one__info-box -->
                        </div><!-- /.blog-one__card -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one -->
        <!-- Blog One End -->
        
        {% endblock %}  

