
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}
   
        <!-- Page Header Start -->
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Logos</h2>
                    <ul class="digihub-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li><span>Logos</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->
        <!-- Projects Page Start -->
        <section class="team-two team-two--one">
            <div class="container">
                <div class="team-two__sec-title sec-title wow animated fadeIn animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeIn;">
                    <p class="sec-title__top">LOGO</p>
                    <h2 class="team-two__heading sec-title__heading">Dark Version</h2>
                </div><!-- /.team-two__sec-title -->
                <div class="row">
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/team/dt7agency-brand.png' %}"alt="logo-dark" >
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html" >PSD</a></h4>
                                
                                <a  href="{% static 'assets/images/team/Dt7-logo-black.psd' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                   
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/team/dt7agency-brand.png' %}"alt="logo-dark" >
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html">PNG</a></h4>
                               
                                <a  href="{% static 'assets/images/icons/Dt7 logo black.png' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/team/dt7agency-brand.png' %}"alt="logo-dark" >
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html">JPG</a></h4>
                               
                                <a  href="{% static 'assets/images/icons/Dt7 logo black.jpg' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                </div><!-- /.row -->
                <div class="mt-5 team-two__sec-title sec-title wow animated fadeIn animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeIn;">
                    <p class="sec-title__top">LOGO</p>
                    <h2 class="team-two__heading sec-title__heading">Light Version</h2>
                </div><!-- /.team-two__sec-title -->
                <div class="row">
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card transparent-color">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/icons/1.png' %}" alt="team" class="team-card__img-2">
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html" >PSD</a></h4>
                                
                                <a  href="{% static 'assets/images/team/Dt7-logo-white.psd' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                   
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card transparent-color">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/icons/1.png' %}" alt="team" class="team-card__img-2">
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html">PNG</a></h4>
                               
                                <a  href="{% static 'assets/images/icons/Dt7 logo white.png' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card transparent-color">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/icons/1.png' %}" alt="team" class="team-card__img-2">
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html">JPG</a></h4>
                               
                                <a  href="{% static 'assets/images/icons/Dt7 logo white.jpg' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                </div><!-- /.row -->
                <div class="mt-5 team-two__sec-title sec-title wow animated fadeIn animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeIn;">
                    <p class="sec-title__top">LOGO</p>
                    <h2 class="team-two__heading sec-title__heading">White Version</h2>
                </div><!-- /.team-two__sec-title -->
                <div class="row">
                  
                   
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card transparent-color">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/icons/2.png' %}" alt="team" class="team-card__img-2">
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html">PNG</a></h4>
                               
                                <a  href="{% static 'assets/images/icons/Dt7 logo full white.png' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                    <div class="col-md-4 wow animated fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="team-card transparent-color">
                            <div class="team-card__img-box-2">
                                <img src="{% static 'assets/images/icons/2.png' %}" alt="team" class="team-card__img-2">
                            </div><!-- /.team-card__img-box -->
                            <div class="team-card__info brand">
                                <h4 class="team-card__name"><a href="team-single.html">JPG</a></h4>
                               
                                <a  href="{% static 'assets/images/icons/Dt7 logo full white.jpg' %}"  download  class=" digihub-btn digihub-btn--secondary mt-3" >Download <span></span><span></span><span></span><span></span></a>
                            </div><!-- /.team-card__info -->
                        </div><!-- /.team-card -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!-- Footer Three Start -->
     
 {% endblock %}