

<title>Top Advertising & Digital Marketing Agency Near You | Dt7</title>
<meta name="description" content="Looking for the best advertising and digital marketing agency near you? Dt7 offers expert strategies to boost your brand and reach your audience.">
<meta name="keywords" content="advertising digital marketing agency,advertising and marketing agencies near me">
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}
 
   
<section class="page-header">
    <div class="container">
        <div class="page-header__content">
            <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Paid Advertising </h2>
            <ul class="digihub-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>/</li>
                <li><span>Solutions</span></li>
                <li>/</li>
                <li><span>Paid Advertising</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
      
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " style="text-align:center;" id="exampleModalLabel"> Enquiry Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form action="#" id="popreset" method="POST" class=" container-fluid"  >
                {% csrf_token %}
                <div class="row   mb-3">
                  <div class="col-md-6 ">
                   
                    <input type="text" class=" comment-form__form-input " required  id="exampleInputName" required  name="exampleInputName" placeholder="Your Name" aria-describedby="nameHelp">
                  </div>
                  <div class="col-md-6">
                   
                    <input type="tel" class=" comment-form__form-input" required  id="exampleInputPhone" required name="exampleInputPhone" placeholder="Phone number" >
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12">
                  
                    <input type="email" class=" comment-form__form-input" required  id="exampleInputEmail" required name="exampleInputEmail"  placeholder="Email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                  </div>
               
                </div>
                <div class="col-md-12 mb-3">
                       
                    <div class="col-md-12 mb-2 wow animated fadeInUp " data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <label>Services Interested In:</label><br>
                        <div class="d-flex">
                        <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="form-group">
                         
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="digitalMarketingone" name="servicesInterestedIn" value="Digital Marketing">
                            <label class="form-check-label" for="digitalMarketingone">Digital Marketing</label>
                          </div>
                       
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="whatsappMarketingone" name="servicesInterestedIn" value="whatsappMarketing">
                            <label class="form-check-label" for="whatsappMarketingone">WhatsApp Marketing</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="logoBrandingone" name="servicesInterestedIn" value="logoBranding">
                            <label class="form-check-label" for="logoBrandingone">Logo Branding</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="emailMarketingone" name="servicesInterestedIn" value="emailMarketing">
                            <label class="form-check-label" for="emailMarketingone">Email Marketing</label>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="form-group">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="webDesigningone" name="servicesInterestedIn" value="webDesigning">
                            <label class="form-check-label" for="webDesigningone">Web Designing (UI/UX)</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="thirdPartyListingone" name="servicesInterestedIn" value="thirdPartyListing">
                            <label class="form-check-label" for="thirdPartyListingone">3rd Party Listing</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="onlinePaidMarketingone" name="servicesInterestedIn" value="onlinePaidMarketing">
                            <label class="form-check-label" for="onlinePaidMarketingone">Online Paid Marketing</label>
                          </div>
                          
                        </div>
                    </div>
                    </div>
                </div>
                  </div>
                <div class="mb-3">
       
                  <textarea class="comment-form__form-input popup-messsge" required  id="exampleInputMessageinfo" name="exampleInputMessageinfo" placeholder="Enter your messege" rows="3"></textarea>
                </div>
                <button type="submit"  id="popupBtn" class="comment-form__form-btn btn btn-sm digihub-btn digihub-btn--secondary">Submit</button>
              </form>
        </div>
       
      </div>
    </div>
  </div>
   <!-- Projects Details Page Start -->
   <section class="projects-details-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects-details-page__inner-container container-fluid">
                    <div class="projects-details-page__bottom-info-box">
                        <div class="projects-details-page__bottom-info wow animated fadeInUp mb-5" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <h3 class="projects-details-page__bottom-info-title text-center mb-3">Paid Advertising</h3>
                            <p class="projects-details-page__bottom-info-desc text-alignment">Enhance your digital presence with our Paid Advertising service at [DT7 Agency]. Utilize targeted ads to connect with your ideal audience, amplify ROI, and achieve your business objectives. Our expert team specializes in crafting and managing strategic ad campaigns across various platforms, ensuring every investment yields tangible results and enhances your brand's visibility in the digital realm.</p>
                        </div><!-- /.projects-details-page__bottom-info -->
                       
                        
                    </div><!-- /.projects-details-page__bottom-info-box -->
                    <div class="row">
                        <div class="col-xl-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="projects-details-page__img-box">
                                <img src="{% static 'assets/images/award/paid-marketing.jpg' %}" alt="project-details" class="projects-details-page__img">
                            </div><!-- /.projects-details-page__img-box -->
                        </div>
                       
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- <div class="col-xl-12">
                <div class="projects-details-page__title-box">
                    <h3 class="projects-details-page__title">Empowering Your Business in the Digital Age</h3>
                    <p class="projects-details-page__desc">Aliquam eros justo, posuere loborti vive rra laoreet matti
                        ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra laoreet augue
                        mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet
                        mat ullamcorper posue viverra .Aliquam eros justo,Aliquam eros justo, posuere loborti vive rra
                        laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra
                        laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti
                        viverra laoreet mat ullamcorper posue viverra</p>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--one">
                        <!-- <span class="service-two__icon service-two__icon--one icon-marketing-2"></span> -->
                        <h3 class="service-two__number service-two__number--one">01</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--one">
                        <h3 class="service-two__title">Targeted Ad Campaigns</h3>
                        <p class="service-two__desc">We design advertising strategies to reach specific audience segments, maximizing engagement and conversions.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--two">
                        <!-- <span class="service-two__icon service-two__icon--two icon-chat-message"></span> -->
                        <h3 class="service-two__number service-two__number--two">02</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--two">
                        <h3 class="service-two__title">Ad Copywriting</h3>
                        <p class="service-two__desc">Our expert copywriters create captivating ad content that grabs attention, stimulates clicks, and converts viewers into satisfied customers.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--four">
                        <!-- <span class="service-two__icon service-two__icon--three icon-connection"></span> -->
                        <h3 class="service-two__number service-two__number--four">03</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--four">
                        <h3 class="service-two__title">Ad Performance Monitoring</h3>
                        <p class="service-two__desc">We consistently monitor ad performance, employing data-driven optimizations to maximize return on investment (ROI) and enhance campaign effectiveness.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--three">
                        <!-- <span class="service-two__icon service-two__icon--three icon-connection"></span> -->
                        <h3 class="service-two__number service-two__number--three">04</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--three">
                        <h3 class="service-two__title">Ad Platform Management</h3>
                        <p class="service-two__desc">From Google Ads to social media advertising, we adeptly oversee your ad placements across platforms, ensuring maximum visibility and impactful reach.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
           
        
           
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.projects-details-page -->
<!-- Projects Details Page End -->

      
       


    


   <!-- Portfolio Three Start -->

   <section class="portfolio-three pt-5">
    <div class="container">
        <div class="portfolio-three__sec-title sec-title wow animated fadeIn" data-wow-delay="0.1s" data-wow-duration="1500ms">
            <p class="sec-title__top">Paid Advertising Mastery</p>
            <h2 class="portfolio-three__heading sec-title__heading">Driving Results with Targeted Campaigns</h2>
        </div><!-- /.portfolio-tthree_sec-title -->
        <div class="row masonry-layout">
           
            <div class="masonry-layout__item col-lg-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <div class="portfolio-three__item">
                    <div class="portfolio-three__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-one.jpg">
                        <img src="{% static 'assets/images/about/durgagheeads.jpg' %}" alt="portfolio" class="portfolio-three__img">
                        <img src="{% static 'assets/images/about/durgagheeads.jpg' %}" alt="portfolio" class="portfolio-three__img">
                    </div><!-- /.portfolio-three__img-box -->
                    <!-- <div class="portfolio-three__text-box">
                        <a href="projects-details.html" class="portfolio-three__btn"><i class="fas fa-arrow-right"></i></a>
                        <h4 class="portfolio-three__title"><a href="projects-details.html">Durga Ghee</a></h4>
                    </div> -->
                </div><!-- /.portfolio-three__item -->
            </div>
            <div class="masonry-layout__item col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="portfolio-three__item ">
                    <div class="portfolio-three__img-box digihub-image-hover" data-hover-image="assets/images/shapes/hover-one.jpg">
                        <img src="{% static 'assets/images/about/sunraysads.jpg' %}" alt="portfolio" class="portfolio-three__img">
                        <img src="{% static 'assets/images/about/sunraysads.jpg' %}" alt="portfolio" class="portfolio-three__img">
                    </div><!-- /.portfolio-three__img-box -->
                    <!-- <div class="portfolio-three__text-box">
                        <a href="projects-details.html" class="portfolio-three__btn"><i class="fas fa-arrow-right"></i></a>
                        <h4 class="portfolio-three__title"><a href="projects-details.html">SunRays </a></h4>
                    </div> -->
                </div><!-- /.portfolio-three__item -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.portfolio-two -->
        
        
      
       
      



 
 
        {% endblock %}  