
    
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}
    

        
        
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Projects Details</h2>
                    <ul class="digihub-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>/</li>
                        <li><span>Projects Details</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->
        <!-- Projects Details Page Start -->
        <section class="projects-details-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="projects-details-page__inner-container container-fluid">
                            <div class="row">
                                <div class="col-xl-7 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                    <div class="projects-details-page__img-box">
                                        <img src="{% static 'assets/images/projects/project-details-1.jpg' %}" alt="project-details" class="projects-details-page__img">
                                    </div><!-- /.projects-details-page__img-box -->
                                </div>
                                <div class="col-xl-5 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                    <div class="projects-details-page__company">
                                        <h3 class="projects-details-page__company-title">A large company</h3>
                                        <p class="projects-details-page__company-desc">Aliquam eros justo, posuere loborti vive rra laoreet matti
                                            ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra laoreet augue
                                            mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti vi</p>
                                        <p class="projects-details-page__company-desc">Aliquam eros justo, posuere loborti viverra laoreet matti
                                            posuere ullamcorper posuere viverra .Aliquam eros justo, posuere lobortis non, design by a man
                                        </p>
                                        <div class="projects-details-page__company-info-grid">
                                            <div class="projects-details-page__company-info wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                                <p class="projects-details-page__company-info-title">Client</p>
                                                <p class="projects-details-page__company-info-text">Sandi leo rakiul</p>
                                            </div><!-- /.projects-details-page__company-info -->
                                            <div class="projects-details-page__company-info wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                                <p class="projects-details-page__company-info-title">Category</p>
                                                <p class="projects-details-page__company-info-text">Planing, Real Estate</p>
                                            </div><!-- /.projects-details-page__company-info -->
                                            <div class="projects-details-page__company-info wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                                <p class="projects-details-page__company-info-title">Details</p>
                                                <p class="projects-details-page__company-info-text">Consulation real estate</p>
                                            </div><!-- /.projects-details-page__company-info -->
                                            <div class="projects-details-page__company-info wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                                <p class="projects-details-page__company-info-title">Date</p>
                                                <p class="projects-details-page__company-info-text">November 19, 2022</p>
                                            </div><!-- /.projects-details-page__company-info -->
                                        </div><!-- /.projects-details-page__company-info-grid -->
                                    </div><!-- /.projects-details-page__company -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <div class="col-xl-12">
                        <div class="projects-details-page__title-box">
                            <h3 class="projects-details-page__title">Empowering Your Business in the Digital Age</h3>
                            <p class="projects-details-page__desc">Aliquam eros justo, posuere loborti vive rra laoreet matti
                                ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra laoreet augue
                                mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet
                                mat ullamcorper posue viverra .Aliquam eros justo,Aliquam eros justo, posuere loborti vive rra
                                laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra
                                laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti
                                viverra laoreet mat ullamcorper posue viverra</p>
                        </div><!-- /.projects-details-page__title-box -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="projects-details-page__info projects-details-page__info--one">
                            <div class="projects-details-page__info-title-box">
                                <i class="fas fa-check-circle"></i>
                                <h4 class="projects-details-page__info-title">Best Emplementation</h4>
                            </div>
                            <p class="projects-details-page__info-desc">ished fact that a reader will be distrol acted bioiiy desig ished fact that a reader will.</p>
                        </div><!-- /.projects-details-page__info -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                        <div class="projects-details-page__info projects-details-page__info--two">
                            <div class="projects-details-page__info-title-box">
                                <i class="fas fa-check-circle"></i>
                                <h4 class="projects-details-page__info-title">Design make for you.</h4>
                            </div>
                            <p class="projects-details-page__info-desc">ished fact that a reader will be distrol acted bioiiy desig the.ished fact that.</p>
                        </div><!-- /.projects-details-page__info -->
                    </div>
                    <div class="col-lg-4 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                        <div class="projects-details-page__info projects-details-page__info--three">
                            <div class="projects-details-page__info-title-box">
                                <i class="fas fa-check-circle"></i>
                                <h4 class="projects-details-page__info-title">Best Emplementation</h4>
                            </div>
                            <p class="projects-details-page__info-desc">ished fact that a reader will be distrol acted bioiiy desig ished fact that a reader will.</p>
                        </div><!-- /.projects-details-page__info -->
                    </div>
                    <div class="col-12">
                        <div class="projects-details-page__line"></div>
                        <!-- /.projects-details-page__line -->
                    </div>
                    <div class="col-lg-6">
                        <div class="projects-details-page__bottom-info-box">
                            <div class="projects-details-page__bottom-info wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                                <h3 class="projects-details-page__bottom-info-title">Best Emplementation</h3>
                                <p class="projects-details-page__bottom-info-desc">ished fact that a reader will be distrol acted bioiiy desig the.ished fact that a reader will be distrol acted bioiiy bioiiy desig the.ished fact that a reader.</p>
                            </div><!-- /.projects-details-page__bottom-info -->
                            <div class="projects-details-page__bottom-info wow animated fadeInUp" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                <h3 class="projects-details-page__bottom-info-title">Design make for you.</h3>
                                <p class="projects-details-page__bottom-info-desc">ished fact that a reader will be distrol acted bioiiy desig the.ished fact that a reader will be distrol acted bioiiy bioiiy desig the.ished fact that a reader.</p>
                            </div><!-- /.projects-details-page__bottom-info -->
                            <div class="projects-details-page__bottom-info wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                <h3 class="projects-details-page__bottom-info-title">Finished the process</h3>
                                <p class="projects-details-page__bottom-info-desc">ished fact that a reader will be distrol acted bioiiy desig the.ished fact that a reader will be distrol acted bioiiy bioiiy desig the.ished fact that a reader.</p>
                            </div><!-- /.projects-details-page__bottom-info -->
                        </div><!-- /.projects-details-page__bottom-info-box -->
                    </div>
                    <div class="col-lg-6 wow animated fadeInRight" data-wow-delay="0.1s" data-wow-duration="1500ms">
                        <div class="projects-details-page__bottom-img-box">
                            <img src="{% static 'assets/images/projects/project-details-info-1.jpg'%}" alt="project-details-info" class="projects-details-page__bottom-img">
                        </div><!-- /.projects-details-page__bottom-img-box -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.projects-details-page -->
        <!-- Projects Details Page End -->
        <!-- Footer Three Start -->
      
     

    


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fas fa-long-arrow-alt-up"></i></a>


    {% endblock %}