

<title> SolutionsDetails | Dt7solutions </title>
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}
   
<section class="page-header">
    <div class="container">
        <div class="page-header__content">
            <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Digital Promotions</h2>
            <ul class="digihub-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>/</li>
                <li><span> 
                    Solutions
                    </span></li>
                <li>/</li>
                <li><span>Digital Promotions</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
  


<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " style="text-align:center;" id="exampleModalLabel"> Enquiry Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form action="#" id="popreset" method="POST" class=" container-fluid"  >
                {% csrf_token %}
                <div class="row   mb-3">
                  <div class="col-md-6 ">
                   
                    <input type="text" class=" comment-form__form-input " id="exampleInputName"  name="exampleInputName" placeholder="Your Name" aria-describedby="nameHelp">
                  </div>
                  <div class="col-md-6">
                   
                    <input type="tel" class=" comment-form__form-input" id="exampleInputPhone" name="exampleInputPhone" placeholder="Phonenumber" >
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                  
                    <input type="email" class=" comment-form__form-input" id="exampleInputEmail"  name="exampleInputEmail"  placeholder="Email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                  </div>
                  <div class="col-md-6">
                   
                    <select class=" comment-form__form-input" id="exampleSelectService" name="exampleSelectService" placeholder="Select Type of Service">
                        <option value="">Select Type of Service</option>
                        <option value="digital_marketing">Digital Marketing</option>
                        <option value="email Marketing">Email Marketing</option>
                        <option value="logo_and_branding">Logo and Branding</option>
                        <option value="web_development">Web Development</option>
                        <option value="ecommercelisting">Ecommerce Listing</option>
                      </select>
                  </div>
                </div>
                <div class="mb-3">
       
                  <textarea class="comment-form__form-input popup-messsge"  id="exampleInputMessageinfo" name="exampleInputMessageinfo" placeholder="Enter your messege" rows="3"></textarea>
                </div>
                <button type="submit"  id="popupBtn" class="comment-form__form-btn btn btn-sm digihub-btn digihub-btn--secondary">Submit</button>
              </form>
        </div>
       
      </div>
    </div>
  </div>

   <!-- Projects Details Page Start -->
   <section class="projects-details-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects-details-page__inner-container container-fluid">
                    <div class="projects-details-page__bottom-info-box">
                        <div class="projects-details-page__bottom-info wow animated fadeInUp mb-5" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <h3 class="projects-details-page__bottom-info-title text-center mb-3">Digital Promotions</h3>
                            <p class="projects-details-page__bottom-info-desc">In the digital landscape, standing out is essential. With our Digital Promotions service at [DT7 Agency], we amplify your online presence, ensuring your brand shines brightly amidst the digital noise. Through a strategic blend of targeted advertising, social media engagement, content marketing, and influencer partnerships, we drive meaningful interactions and conversions. Our team leverages cutting-edge techniques to position your brand in front of the right audience at the right time, maximizing engagement and ROI.</p>
                        </div><!-- /.projects-details-page__bottom-info -->
                       
                        
                    </div><!-- /.projects-details-page__bottom-info-box -->
                    <div class="row">
                        <div class="col-xl-12 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                            <div class="projects-details-page__img-box">
                                <img src="{% static 'assets/images/projects/digitalpromotions.png' %}" alt="project-details" class="projects-details-page__img">
                            </div><!-- /.projects-details-page__img-box -->
                        </div>
                       
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- <div class="col-xl-12">
                <div class="projects-details-page__title-box">
                    <h3 class="projects-details-page__title">Empowering Your Business in the Digital Age</h3>
                    <p class="projects-details-page__desc">Aliquam eros justo, posuere loborti vive rra laoreet matti
                        ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra laoreet augue
                        mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti viverra laoreet
                        mat ullamcorper posue viverra .Aliquam eros justo,Aliquam eros justo, posuere loborti vive rra
                        laoreet matti ullamc orper posu ere viverra .Aliquam eros justo, posuere lobortis non, vive rra
                        laoreet augue mattis fermentum ullamcorper viverra laoreet Aliquam eros justo, posuere loborti
                        viverra laoreet mat ullamcorper posue viverra</p>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--one">
                        <!-- <span class="service-two__icon service-two__icon--one icon-marketing-2"></span> -->
                        <h3 class="service-two__number service-two__number--one">01</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--one">
                        <h3 class="service-two__title">Customized Advertising</h3>
                        <p class="service-two__desc">We customize advertising strategies to reach your target audience effectively, ensuring every penny spent drives meaningful results.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--two">
                        <!-- <span class="service-two__icon service-two__icon--two icon-chat-message"></span> -->
                        <h3 class="service-two__number service-two__number--two">02</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--two">
                        <h3 class="service-two__title">Engaging Social Media</h3>
                        <p class="service-two__desc">We're not just posting; we're sparking conversations, building communities, and fostering real connections with your audience.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--four">
                        <!-- <span class="service-two__icon service-two__icon--three icon-connection"></span> -->
                        <h3 class="service-two__number service-two__number--four">03</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--four">
                        <h3 class="service-two__title">Compelling Content</h3>
                        <p class="service-two__desc">From captivating blogs to share-worthy videos, we craft content that not only informs but also inspires action, driving engagement and loyalty.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
            <div class="col-xl-3 col-lg-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
                <div class="service-two__single d-flex flex-column">
                    <div class="service-two__icon-box service-two__icon-box--three">
                        <!-- <span class="service-two__icon service-two__icon--three icon-connection"></span> -->
                        <h3 class="service-two__number service-two__number--three">04</h3>
                    </div><!-- /.service-two__icon-box -->
                    <div class="service-two__content service-two__content--three">
                        <h3 class="service-two__title">Strategic Influencer Collaborations</h3>
                        <p class="service-two__desc">By partnering with influencers who align with your brand values, we amplify your message and extend your brand's reach to eager, receptive audiences.</p>
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div>
           
        
           
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.projects-details-page -->
<!-- Projects Details Page End -->

      
       

    
        
      
       
      



 
 
        {% endblock %}  