<title> termsandconditions | Dt7solutions </title>  
{% extends 'uifiles/subase.html' %}
{% load static %}
{% block content %}




      

      
        <!-- Page Header Start -->
        <section class="page-header">
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">Terms and Conditions</h2>
                    <ul class="digihub-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>/</li>
                        <li><span>Terms and Conditions</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Page Header End -->

        <!-- Blog Details Page Start -->
        <section class="blog-details-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="blog-details-page__content">
                            <div class="blog-details-page__post wow animated fadeInUp" data-wow-delay="0.1s" data-wow-duration="1500ms">
                               
                                <div class="blog-details-page__post-content">
                                    <h3 class="blog-details-page__post-title">Transforming ideas into digital masterpieces</h3>
                                    <p class="blog-details-page__post-desc">Welcome to Dt7.agency, a digital agency dedicated to providing exceptional services to our clients. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions. Please read these terms carefully before using our services.</p>
                                   
                                </div><!-- /.blog-details-page__post-content -->
                            </div><!-- /.blog-details-page__post -->
                            <div class="blog-details-page__inner-container container-fluid">
                                <div class="blog-details-page__inner-row row">
                                   
                                    <div class="col-xl-12 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                                        <div class="blog-details-page__technology-content">
                                            <h3 class="blog-details-page__technology-title text-dark">Acceptance of Terms</h3>
                                            <p class="blog-details-page__technology-desc"> By accessing or using Dt7.agency, you agree to be bound by these Terms and Conditions, which constitute a legally binding agreement. If you do not agree with any of these terms, you may not use our services.</p>
                                        </div><!-- /.blog-details-page__technology-content -->
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.blog-details-page__inner-container -->
                            <div class="blog-details-page__text-box">
                        
                                <p class="blog-details-page__text"><span class="heading-custom">Services:</span> Dt7.agency provides digital marketing, web design and other  services. The specific details of the services provided will be outlined in individual agreements between Dt7.agency and the client.</p>
                                <p class="blog-details-page__text "><span class="heading-custom">Confidentiality :</span> Dt7.agency and the client agree to maintain the confidentiality of all proprietary and sensitive information exchanged during the course of the project. This includes but is not limited to business strategies, trade secrets, and project details.</p>
                                <p class="blog-details-page__text"><span class="heading-custom">Disclaimer of Warranties :</span> Dt7.agency makes no warranties, express or implied, regarding the services provided. All services are provided on an "as is" basis without any warranty of fitness for a particular purpose or non-infringement.</p>
                                <p class="blog-details-page__text"><span class="heading-custom">Limitation of Liability :</span> In no event shall Dt7.agency be liable for any indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our services, even if advised of the possibility of such damages.</p>
                                <p class="blog-details-page__text"><span class="heading-custom">Governing Law :</span> These Terms and Conditions shall be governed by and construed in accordance with the laws of [Jurisdiction]. Any disputes arising from these terms shall be resolved through arbitration or mediation in [Jurisdiction].</p>
<p class="blog-details-page__text"><span class="heading-custom">Changes to Terms :</span> Dt7.agency reserves the right to modify or update these Terms and Conditions at any time without prior notice. It is the responsibility of the client to review these terms periodically for changes.</p>
<p class="blog-details-page__text">By using our services, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions. If you have any questions or concerns regarding these terms, please contact us at  +91 738 249 4888 </p>
                               
                            </div><!-- /.blog-details-page__text-box -->
                         
                          
                            
                           
                            
                        </div><!-- /.blog-details-page__content -->
                    </div>
               
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-details-page -->
      
    
     
 
    {% endblock %}